# Codding Question

1. BASICS

1.1 Variables & Data Types

1.1.1 Write a program to assign values to variables and print them.
1.1.2 Write a program to check the data type of a variable.
1.1.3 Write a program to take an integer input and convert it to float.
1.1.4 Write a program to convert a float into an integer.
1.1.5 Write a program to check whether a number is even or odd using boolean logic.

1.2 Input and Output

1.2.1 Write a program to take user input and print it.

2. CONTROL FLOW
2.1 Conditional Statements

2.1.1 Write a program to check whether a number is positive, negative, or zero.
2.1.2 Write a program to find the greatest of two numbers.

2.2 Loops

2.2.1 Write a program to print numbers from 1 to 10 using a for loop.
2.2.2 Write a program to print numbers from 10 to 1 using a while loop.

2.3 Loop Control Statements

2.3.1 Write a program to stop a loop when number 5 is found using break.
2.3.2 Write a program to skip number 5 using continue.
2.3.3 Write a program that uses pass inside a loop.

3. DATA STRUCTURES
3.1 List

3.1.1 Write a program to access elements of a list using indexing.
3.1.2 Write a program to slice a list.
3.1.3 Write a program to add elements using append().
3.1.4 Write a program to add elements using extend().
3.1.5 Write a program to add elements using insert().
3.1.6 Write a program to remove elements using remove().
3.1.7 Write a program to remove elements using pop().
3.1.8 Write a program to sort a list.
3.1.9 Write a program to reverse a list.

3.2 Tuple

3.2.1 Write a program to create a tuple and print its elements.
3.2.2 Write a program to demonstrate tuple immutability.
3.2.3 Write a program for tuple packing and unpacking.

3.3 Set

3.3.1 Write a program to add elements to a set.
3.3.2 Write a program to remove elements from a set.
3.3.3 Write a program to find the union of two sets.
3.3.4 Write a program to find the intersection of two sets.
3.3.5 Write a program to find the difference of two sets.

3.4 Dictionary

3.4.1 Write a program to create a dictionary with key–value pairs.
3.4.2 Write a program to access keys of a dictionary.
3.4.3 Write a program to access values of a dictionary.
3.4.4 Write a program to access items of a dictionary.
3.4.5 Write a program to update a value in a dictionary.
3.4.6 Write a program to delete an element from a dictionary.

4. STRING HANDLING
4.1 Indexing and Slicing

4.1.1 Write a program to access characters of a string using indexing.
4.1.2 Write a program to slice a string.

4.2 String Methods

4.2.1 Write a program to convert a string to uppercase.
4.2.2 Write a program to convert a string to lowercase.
4.2.3 Write a program to remove extra spaces using strip().
4.2.4 Write a program to split a string into words.
4.2.5 Write a program to join a list of words into a string.

4.3 String Formatting

4.3.1 Write a program using an f-string for formatting.

## 1.1 Variables & Data Types

# 1.1.1 Write a program to assign values to variables and print them.

In [7]:

name = "Niranjan"
age = 21
location = """Ganesh nagar ,
Yerwada ,
Pune - 411006 """
PassOrFail = True

print("Name :", name)
print("Age :", age)
print("Loc :", location)
print("Res :" , PassOrFail)

Name : Niranjan
Age : 21
Loc : Ganesh nagar ,
Yerwada ,
Pune - 411006
Res : True

1.1.2 Write a program to check the data type of a variable.

In [17]:
a = 10 
b = "Idli"
c = [1 , 2 , 4]
d = (1 , 3 , 5)
e = {1 , 3, 5, 5}
fe = frozenset([1 , 40 , 66])
f = {1 : 4 , 4 : 5 , 6 : 90}

print(f"Type of {a} is {type(a)}")
print(f"Type of {b} is {type(b)}")
print(f"Type of {c} is {type(c)}")
print(f"Type of {d} is {type(d)}")
print(f"Type of {e} is {type(e)}")
print(f"Type of {fe} is {type(fe)}")
print(f"Type of {f} is {type(f)}")

Type of 10 is <class 'int'>
Type of Idli is <class 'str'>
Type of [1, 2, 4] is <class 'list'>
Type of (1, 3, 5) is <class 'tuple'>
Type of {1, 3, 5} is <class 'set'>
Type of frozenset({40, 1, 66}) is <class 'frozenset'>
Type of {1: 4, 4: 5, 6: 90} is <class 'dict'>

1.1.3 Write a program to take an integer input and convert it to float.

In [23]:
a = input("Enter Interger : ")

b = float(a)
print("After Type Conversion",b)
print(type(b))

Enter Interger :  1

After Type Conversion 1.0
<class 'float'>

In [28]:
a = int(input("No: "))

b = a /1.0

print(b)
print(type(b))

No:  10

10.0
<class 'float'>

1.1.4 Write a program to convert a float into an integer.

In [30]:
a = float(input("Enter Float"))

b = int(a)
print(b)

Enter Float 1002.33

1002

1.1.5 Write a program to check whether a number is even or odd using boolean logic.

In [36]:
a = 11

is_even = (a % 2 == 0)

print(is_even)

False

1.2.1 Write a program to take user input and print it.

In [38]:
a = input("Enter what to print :")

print(a)

Enter what to print : zsexdrbhjnmk

zsexdrbhjnmk

## 2. CONTROL FLOW

1.2.1 Write a program to take user input and print it.

2. CONTROL FLOW
2.1 Conditional Statements

2.1.1 Write a program to check whether a number is positive, negative, or zero.
2.1.2 Write a program to find the greatest of two numbers.

2.2 Loops

2.2.1 Write a program to print numbers from 1 to 10 using a for loop.
2.2.2 Write a program to print numbers from 10 to 1 using a while loop.

2.3 Loop Control Statements

2.3.1 Write a program to stop a loop when number 5 is found using break.
2.3.2 Write a program to skip number 5 using continue.
2.3.3 Write a program that uses pass inside a loop.

2.1.1 Write a program to check whether a number is positive, negative, or zero.

In [48]:
a = int(input("Enter no: "))

if a < 0 :
    print("-ve")
    
elif a > 0:
    print("+ve")
    
else:
    print("Zero")

Enter no:  0

Zero

2.1.2 Write a program to find the greatest of two numbers

In [51]:
a = int(input("Enter A : "))
b = int(input("Enter B : "))

if a > b :
    print(f"{a} is large")

elif a < b:
    print(f"{b} is large")

else:
    print("Both are equal")

Enter A :  10
Enter B :  90

90 is large

2.2.1 Write a program to print numbers from 1 to 10 using a for loop.

In [53]:
for i in range(1 , 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [1]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
a = range(1 , 10)

for i in a :
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

2.3.1 Write a program to stop a loop when number 5 is found using break.

In [2]:
for i in range(1 , 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [26]:
a = '123456789'

for i in a :
    if i == '5':
        break
    print(i)

1
2
3
4

In [1]:
i = 1
while i <= 10:
    if i == 5:
        break
    print(i)
    i += 1

1
2
3
4

2.3.2 Write a program to skip number 5 using continue.

In [4]:
for i in range(1 , 10):
    if i == 5 :
        continue
    print(i)

1
2
3
4
6
7
8
9

2.3.3 Write a program that uses pass inside a loop.

In [10]:
for i in range(1, 10):
    if i == 3:
        pass
    else:
        print(i)

1
2
4
5
6
7
8
9

# 3. DATA STRUCTURES

3.1 List

3.1.1 Write a program to access elements of a list using indexing.
3.1.2 Write a program to slice a list.
3.1.3 Write a program to add elements using append().
3.1.4 Write a program to add elements using extend().
3.1.5 Write a program to add elements using insert().
3.1.6 Write a program to remove elements using remove().
3.1.7 Write a program to remove elements using pop().
3.1.8 Write a program to sort a list.
3.1.9 Write a program to reverse a list.

3.2 Tuple

3.2.1 Write a program to create a tuple and print its elements.
3.2.2 Write a program to demonstrate tuple immutability.
3.2.3 Write a program for tuple packing and unpacking.

3.3 Set

3.3.1 Write a program to add elements to a set.
3.3.2 Write a program to remove elements from a set.
3.3.3 Write a program to find the union of two sets.
3.3.4 Write a program to find the intersection of two sets.
3.3.5 Write a program to find the difference of two sets.

3.4 Dictionary

3.4.1 Write a program to create a dictionary with key–value pairs.
3.4.2 Write a program to access keys of a dictionary.
3.4.3 Write a program to access values of a dictionary.
3.4.4 Write a program to access items of a dictionary.
3.4.5 Write a program to update a value in a dictionary.
3.4.6 Write a program to delete an element from a dictionary.

# 3.1 List

3.1.1 Write a program to access elements of a list using indexing.

In [16]:
a = [1 , 40 , 20 , 66]

print('Index 1st : ',a[1])
print('Index 2st : ',a[2])
print('Index -1th : ',a[-1])

Index 1st :  40
Index 2st :  20
Index -1th :  66

3.1.2 Write a program to slice a list.

In [22]:
a = [ 1, 90 ,3 , 5, 6 , 7, 9, 10]

print(a [1 : 3])
print(a[1 : 7 : 2])
print(a[::-1])

[90, 3]
[90, 5, 7]
[10, 9, 7, 6, 5, 3, 90, 1]

3.1.3 Write a program to add elements using append().

In [27]:
a = [1, 90 ,3 , 5, 6 , 7, 9, 10]

a.append(10)
print("List" , a)

List [1, 90, 3, 5, 6, 7, 9, 10, 10]

3.1.4 Write a program to add elements using extend().

In [29]:
a = [1, 90 ,3 , 5, 6 , 7, 9, 10]

a.extend([1, 3 , 8])
a

[1, 90, 3, 5, 6, 7, 9, 10, 1, 3, 8]

3.1.5 Write a program to add elements using insert().

In [31]:
a = [1, 90 ,3 , 5, 6 , 7, 9, 10]

a.insert(0 , 3+5j)
a

[(3+5j), 1, 90, 3, 5, 6, 7, 9, 10]

3.1.6 Write a program to remove elements using remove().

In [32]:
a = [(3+5j), 1, 90, 3, 5, 6, 7, 9, 10]

a.remove(1)
a

[(3+5j), 90, 3, 5, 6, 7, 9, 10]

3.1.7 Write a program to remove elements using pop().

In [42]:
a = [(3+5j), 1, 90, 3, 5, 6, 7, 9, 10]

a.pop()
print(a)

[(3+5j), 1, 90, 3, 5, 6, 7, 9]

In [50]:
a.pop(0)
# Index value

(3+5j)

In [51]:
print(a)

[1, 90, 3, 5, 6]

3.1.8 Write a program to sort a list.

In [66]:
l1 = [1 , 90 , 9 , 33 , 2]

l1.sort()
print(l1)

[1, 2, 9, 33, 90]

3.1.9 Write a program to reverse a list.

In [67]:
a = [1, 2, 9, 33, 90]

a.reverse()
a

[90, 33, 9, 2, 1]

In [68]:
a[::-1]

[1, 2, 9, 33, 90]

# 3.2 Tuple

3.2.1 Write a program to create a tuple and print its elements.

In [7]:
a = ("apple", "banana", "cherry", 'idli' , 'wada')
print('Tuple : ', a)

Tuple :  ('apple', 'banana', 'cherry', 'idli', 'wada')

3.2.2 Write a program to demonstrate tuple immutability.

In [8]:
a = ("apple", "banana", "cherry", 'idli' , 'wada')
a.append('Momo')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
a[1] = 'Momo'

TypeError: 'tuple' object does not support item assignment

3.2.3 Write a program for tuple packing and unpacking.

In [12]:
# Tuple packing
data = 10, "Idli", 3.5

# Tuple unpacking
a, b, c = data

print(a)
print(b)
print(c)

10
Idli
3.5

In [13]:
type(data)

tuple

In [17]:
a = 'idli' , 'momo' , 3.14

a1 , a2 , a3 = a

print(a1)
print(a2)
print(a3)

idli
momo
3.14

# 3.3 Set

3.3.1 Write a program to add elements to a set.

In [20]:
item = {10 , 'idli' , 11 , 90}

item.add(1)
print(item)

{1, 10, 11, 'idli', 90}

3.3.2 Write a program to remove elements from a set.

In [37]:
numbers = {1, 2, 3, 4, 5}

# Remove elements from the set
numbers.remove(3)
numbers.discard(4)

print(numbers)

{1, 2, 5}

In [40]:
no = {10 , 20 ,'idl',  30 , 40}

no.remove(20)
no

{10, 30, 40, 'idl'}

3.3.3 Write a program to find the union of two sets.

In [49]:
std_name = {'Nira' , 'didi' , 'duddi' , 'onil' , 'nisa'}
pass_std = {'Nira' , 'didi' , 'nini' , 'guddi' }

u_set = std_name.union(pass_std)
print(u_set)
# Union - gives unique items from both set

{'Nira', 'guddi', 'onil', 'duddi', 'didi', 'nini', 'nisa'}

3.3.4 Write a program to find the intersection of two sets.

In [52]:
std_name = {'Nira' , 'didi' , 'duddi' , 'onil' , 'nisa'}
pass_std = {'Nira' , 'didi' , 'nini' , 'guddi' , 'onil' }

intersection_set = std_name.intersection(pass_std)

print("intersection : " , intersection_set)
# Intersection >> items present in both set

intersection :  {'Nira', 'onil', 'didi'}

3.3.5 Write a program to find the difference of two sets.

In [54]:
std_name = {'Nira' , 'didi' , 'duddi' , 'onil' , 'nisa'}
pass_std = {'Nira' , 'didi' , 'nini' , 'guddi' , 'onil' }

std_dif = std_name.difference(pass_std)

print("Diff : ", std_dif)

# .difference >> difference() returns elements present in the first set but not in the second

Diff :  {'duddi', 'nisa'}

# 3.4 Dictionary

3.4 Dictionary

3.4.1 Write a program to create a dictionary with key–value pairs.
3.4.2 Write a program to access keys of a dictionary.
3.4.3 Write a program to access values of a dictionary.
3.4.4 Write a program to access items of a dictionary.
3.4.5 Write a program to update a value in a dictionary.
3.4.6 Write a program to delete an element from a dictionary.

3.4.1 Write a program to create a dictionary with key–value pairs.

In [56]:
a = {'a' : 10 , 'b' : 20 , 'c' : 33 , 'd' : 77}

print(a)

{'a': 10, 'b': 20, 'c': 33, 'd': 77}

3.4.2 Write a program to access keys of a dictionary.

In [59]:
a = {'a' : 10 , 'b' : 20 , 'c' : 33 , 'd' : 77}

keys_a = a.keys()
print("Keys :", keys_a)

Keys : dict_keys(['a', 'b', 'c', 'd'])

3.4.3 Write a program to access values of a dictionary.

In [70]:
a = {'a' : 10 , 'b' : 20 , 'c' : 33 , 'd' : 77}

value_a = a.values()

print(value_a)
print("Value of B :" , a['b'])
print("Value of A :", a.get('a'))

dict_values([10, 20, 33, 77])
Value of B : 20
Value of A : 10

3.4.4 Write a program to access items of a dictionary.

In [74]:
a = {'a' : 10 , 'b' : 20 , 'c' : 33 , 'd' : 77}

items = a.items()

print(items)

dict_items([('a', 10), ('b', 20), ('c', 33), ('d', 77)])

3.4.5 Write a program to update a value in a dictionary.

In [76]:
a = {'a' : 10 , 'b' : 20 , 'c' : 33 , 'd' : 77}

a['a'] = 11

a

{'a': 11, 'b': 20, 'c': 33, 'd': 77}

3.4.6 Write a program to delete an element from a dictionary.

In [79]:
a = {'a' : 10 , 'b' : 20 , 'c' : 33 , 'd' : 77}

del a['c']

a

{'a': 10, 'b': 20, 'd': 77}

# 4. STRING HANDLING

4.1 Indexing and Slicing

4.1.1 Write a program to access characters of a string using indexing.
4.1.2 Write a program to slice a string.

4.2 String Methods

4.2.1 Write a program to convert a string to uppercase.
4.2.2 Write a program to convert a string to lowercase.
4.2.3 Write a program to remove extra spaces using strip().
4.2.4 Write a program to split a string into words.
4.2.5 Write a program to join a list of words into a string.

4.3 String Formatting

4.3.1 Write a program using an f-string for formatting.

4.1.1 Write a program to access characters of a string using indexing.

In [84]:
name = "Niranjan"

print("Index 1 :" , name[1])
print("Index -1 :", name[-1])
print("Index 3 :", name[3])

Index 1 : i
Index -1 : n
Index 3 : a

4.1.2 Write a program to slice a string.

In [87]:
a = "Niranjan"

print(a[1 : 5])
print(a[2 : 4])

iran
ra

4.2.1 Write a program to convert a string to uppercase.

In [90]:
a = "NirAnjan"

A_upper = a.upper()
print(f"Befor : , {a} , After : {A_upper}")

Befor : , NirAnjan , After : NIRANJAN

4.2.2 Write a program to convert a string to lowercase.

In [92]:
a = "NirAnjan"

a.lower()

print("Before : ", a , "|| After : ", a.lower())

Before :  NirAnjan || After :  niranjan

4.2.3 Write a program to remove extra spaces using strip().

In [96]:
a = "              Niranja Anil Gaikwad          "

a.strip()

# It does not remove spaces in the middle of the string

'Niranja Anil Gaikwad'

4.2.4 Write a program to split a string into words.

In [100]:
text = "Python is easy to learn"

# Split string into words
words = text.split()

print(words)

['Python', 'is', 'easy', 'to', 'learn']

In [102]:
a = "Niranjan is studying everyday"

strip_a = a.split()
print(strip_a)

['Niranjan', 'is', 'studying', 'everyday']

4.2.5 Write a program to join a list of words into a string.

In [104]:
words = ["Niranjan" ,  "is" , "studying" ,  "everyday"]

sentence = " ".join(words)
sentence

'Niranjan is studying everyday'

In [110]:
marks = ['a>' , '10'
        '  b>' , '22'
        '  c>' , '21']

marks_join = " ".join(marks)

print(marks_join)

a> 10  b> 22  c> 21

4.3.1 Write a program using an f-string for formatting.

In [113]:
a = "Niranjan"
cnt = 1
for i in a :
    print(f"Iteration {cnt} : {i}")
    cnt += 1

Iteration 1 : N
Iteration 2 : i
Iteration 3 : r
Iteration 4 : a
Iteration 5 : n
Iteration 6 : j
Iteration 7 : a
Iteration 8 : n