# Exception Handling

when an error /exception occurs , python stops and generates a error msg.

These excepitions are using try statement

try - 
> Allows u to text block of code which will throw error

except -
> Lets you handle the error coused in try BLOCK

else -
> Lets you execute code if there  is NO ERROR

finally -
> Lets you execute code , regardless of the results of try % except BLOCK

In [1]:
try :
    print(x)
except :
    print('ERROR - value not defined')

ERROR - value not defined

## Types of error/exception:

IndentationError
NameError
TypeError
SyntaxError     
AttributeError
ValueError
KeyError
IndexError
FileNotFoundError
ArguementError
FileExistsError
ZeroDivisionError

In [4]:
a = (10 , 20 , 3 , 5)

a[5]

# Error >> tuple index out of range

IndexError: tuple index out of range

In [6]:
100/0

# Error >> division by zero

ZeroDivisionError: division by zero

In [9]:
f = open("sample.txt", "x")
# ERROR >> File exists: 'sample.txt'

FileExistsError: [Errno 17] File exists: 'sample.txt'

In [10]:
print('Hello')
    print('Python')

# unexpected indent

IndentationError: unexpected indent (1308638603.py, line 2)

# 1. TRY ..... EXCEPT BLOCK

In [11]:
try:
    print('try block')
except:
    print("Except Block")

try block

In [1]:
try:
    print('try block')
    print(10/0)  # Error > divided by 0
except:
    print("Except Block")

try block
Except Block

In [13]:
try :
    list1 = [1 , 3 , 5 ,7]
    print(f"list : {list1}")
except:
    print('List not found')

list : [1, 3, 5, 7]

In [14]:
try :
    list1 = [1 , 3 , 5 ,7]
    print(f"list : {list2}")
except:
    print('List not found')

List not found

In [15]:
print("Try Block")
list1 = [20,30,40,50,60]
print("List1 :", list1)
print(list1[6])
print("Hello")
print("We are learning Exception Handling")

Try Block
List1 : [20, 30, 40, 50, 60]

IndexError: list index out of range

In [20]:
try:
    print("Try Block")
    list1 = [20,30,40,50,60]
    print("List1 :", list1)
    print(list1[6])       # throws exception
except:
    print('------')
    print("We are learning Exception Handling")

Try Block
List1 : [20, 30, 40, 50, 60]
------
We are learning Exception Handling

In [22]:
try:
    print('Try block')
    x = (10 ,20 ,30 ,40)
    x.append(100)
    print('hello')

except:
    print('except block')

print('Exception Handling')
print(x)

Try block
except block
Exception Handling
(10, 20, 30, 40)

In [24]:
print("Try Block")
x = (20,30,40,50,50)    # Tuple
print(x)
x.append(100)
# >> 'tuple' object has no attribute 'append'

print("Hello Python")
print("We are learning Exception Handling")

Try Block
(20, 30, 40, 50, 50)

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
try :
    print("__Try block__")
    x = (10 , 20, 30 ,40)
    print(x)
    x.append(100)
    print("Appended")

except:
    print("Cannnot Append")

__Try block__
(10, 20, 30, 40)
Cannnot Append

In [26]:
import traceback

In [29]:

try :
    print('Try')
    x = (10 , 20 , 30 , 49)
    print(x)
    x.append(10)
    print("append done")

except:
    print("Except block")
    print(traceback.print_exc())

Try
(10, 20, 30, 49)
Except block
None

Traceback (most recent call last):
  File "C:\Users\ADMIN\AppData\Local\Temp\ipykernel_15836\3892004650.py", line 5, in <module>
    x.append(10)
    ^^^^^^^^
AttributeError: 'tuple' object has no attribute 'append'

In [32]:

try :
    print('Try')
    x = [10 , 20 , 30 , 49]
    print(x)
    x.append(100)
    print("append done")
    print(x)

except:
    print("Except block")
    print(traceback.print_exc())

Try
[10, 20, 30, 49]
append done
[10, 20, 30, 49, 100]

In [34]:
try:
    print('Try Block')
    x = (1 , 2 , 4 ,6 )
    print(x)
    x.append(11)
    print("Hello")

except:
    print(traceback.print_exc())
    print("except block")

print('Error Handling')

Try Block
(1, 2, 4, 6)
None
except block
Error Handling

Traceback (most recent call last):
  File "C:\Users\ADMIN\AppData\Local\Temp\ipykernel_15836\261118222.py", line 5, in <module>
    x.append(11)
    ^^^^^^^^
AttributeError: 'tuple' object has no attribute 'append'

In [36]:
import time , datetime

date1 = '02-01-25'

try:
    print('Try block')
    new_date = datetime.datetime.strptime(date1 , '%Y-%m-%d').date()

except:
    print(traceback.print_exc())
    print("Except Block")

Try block
None
Except Block

Traceback (most recent call last):
  File "C:\Users\ADMIN\AppData\Local\Temp\ipykernel_15836\3406610776.py", line 7, in <module>
    new_date = datetime.datetime.strptime(date1 , '%Y-%m-%d').date()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ADMIN\AppData\Local\anaconda3\Lib\_strptime.py", line 554, in _strptime_datetime
    tt, fraction, gmtoff_fraction = _strptime(data_string, format)
                                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ADMIN\AppData\Local\anaconda3\Lib\_strptime.py", line 333, in _strptime
    raise ValueError("time data %r does not match format %r" %
ValueError: time data '02-01-25' does not match format '%Y-%m-%d'

In [37]:
date_list= ["04-10-2022", "04/10/2022", "04 Oct 2022", "04-Oct-22", "2022-10-04", "04-10-22",
            "04/10/22"]

date_format_list = ["%d/%m/%Y", "%d-%m-%Y", "%d %b %Y", "%d-%b-%y", "%Y-%m-%d", "%d-%m-%y",
                    "%d/%m/%y"]


for date in date_list:
    print('Date : ',date)
    for date_format in date_format_list:
        print('Date Format : ', date_format)

        try:
            new_date = datetime.datetime.strptime(date , date_format).date()
            print("New Date : ", new_date)
            break
        except:
            continue
    print("-"*10)

Date :  04-10-2022
Date Format :  %d/%m/%Y
Date Format :  %d-%m-%Y
New Date :  2022-10-04
----------
Date :  04/10/2022
Date Format :  %d/%m/%Y
New Date :  2022-10-04
----------
Date :  04 Oct 2022
Date Format :  %d/%m/%Y
Date Format :  %d-%m-%Y
Date Format :  %d %b %Y
New Date :  2022-10-04
----------
Date :  04-Oct-22
Date Format :  %d/%m/%Y
Date Format :  %d-%m-%Y
Date Format :  %d %b %Y
Date Format :  %d-%b-%y
New Date :  2022-10-04
----------
Date :  2022-10-04
Date Format :  %d/%m/%Y
Date Format :  %d-%m-%Y
Date Format :  %d %b %Y
Date Format :  %d-%b-%y
Date Format :  %Y-%m-%d
New Date :  2022-10-04
----------
Date :  04-10-22
Date Format :  %d/%m/%Y
Date Format :  %d-%m-%Y
Date Format :  %d %b %Y
Date Format :  %d-%b-%y
Date Format :  %Y-%m-%d
Date Format :  %d-%m-%y
New Date :  2022-10-04
----------
Date :  04/10/22
Date Format :  %d/%m/%Y
Date Format :  %d-%m-%Y
Date Format :  %d %b %Y
Date Format :  %d-%b-%y
Date Format :  %Y-%m-%d
Date Format :  %d-%m-%y
Date Format :  %d/%m/%y
New Date :  2022-10-04
----------

In [38]:
date_list = ["04-10-2022", "04/10/2022", "04 Oct 2022", "04-Oct-22", "2022-10-04", "04-10-22",
            "04/10/22"]

date_format_list = ["%d/%m/%Y", "%d-%m-%Y", "%d %b %Y", "%d-%b-%y", "%Y-%m-%d", "%d-%m-%y",
                    "%d/%m/%y"]


for date in date_list:
    print(date)             # date = "04-10-2022", "04/10/2022", "04 Oct 2022"
    for date_format in date_format_list:
        print("Date format :", date_format) # date_format = "%d/%m/%Y",  "%d-%m-%Y"
        
        try:
            new_date = datetime.datetime.strptime(date, date_format).date()
            print("New_date :", new_date)
            break
            
        except:
            continue
            
    print("*"*50)

04-10-2022
Date format : %d/%m/%Y
Date format : %d-%m-%Y
New_date : 2022-10-04
**************************************************
04/10/2022
Date format : %d/%m/%Y
New_date : 2022-10-04
**************************************************
04 Oct 2022
Date format : %d/%m/%Y
Date format : %d-%m-%Y
Date format : %d %b %Y
New_date : 2022-10-04
**************************************************
04-Oct-22
Date format : %d/%m/%Y
Date format : %d-%m-%Y
Date format : %d %b %Y
Date format : %d-%b-%y
New_date : 2022-10-04
**************************************************
2022-10-04
Date format : %d/%m/%Y
Date format : %d-%m-%Y
Date format : %d %b %Y
Date format : %d-%b-%y
Date format : %Y-%m-%d
New_date : 2022-10-04
**************************************************
04-10-22
Date format : %d/%m/%Y
Date format : %d-%m-%Y
Date format : %d %b %Y
Date format : %d-%b-%y
Date format : %Y-%m-%d
Date format : %d-%m-%y
New_date : 2022-10-04
**************************************************
04/10/22
Date format : %d/%m/%Y
Date format : %d-%m-%Y
Date format : %d %b %Y
Date format : %d-%b-%y
Date format : %Y-%m-%d
Date format : %d-%m-%y
Date format : %d/%m/%y
New_date : 2022-10-04
**************************************************

In [48]:
def get_date(date):
    date_format_list = ["%d/%m/%Y", "%d-%m-%Y", "%d %b %Y", "%d-%b-%y", "%Y-%m-%d", "%d-%m-%y",
                        "%d/%m/%y"]
    for date_format in date_format_list:
        try:
            print(date_format)
            new_date = datetime.datetime.strptime(date , date_format).date()
            print("New Date")
            break
        except:
            continue

date1 = '04-10-2022'
dt = get_date(date1)

print(dt)

%d/%m/%Y
%d-%m-%Y
New Date
None

In [43]:
date2 = '01-04-2006'
dt = get_date(date2)

print(dt)

%d/%m/%Y
%d-%m-%Y
New Date
None

In [44]:
date3 = '27 10 2005'

dt = get_date(date3)

print(dt)

%d/%m/%Y
%d-%m-%Y
%d %b %Y
%d-%b-%y
%Y-%m-%d
%d-%m-%y
%d/%m/%y
None

In [46]:
date4 = "04 10 2022"

dt = get_date(date4)
print(dt)

%d/%m/%Y
%d-%m-%Y
%d %b %Y
%d-%b-%y
%Y-%m-%d
%d-%m-%y
%d/%m/%y
None

In [49]:
date5 = '2 oct 2024'

dt = get_date(date5)
print(dt)

%d/%m/%Y
%d-%m-%Y
%d %b %Y
New Date
None

In [51]:
import traceback

In [52]:
try:
    print("try")
    f = open('data_science.txt' , 'w')
    f.write('DS\nML')
    f.close()
    print('File Created')

except FileNotFoundError as err:
    print(err)
    print("Except Block")

try
File Created

In [55]:
try:
    print("Try Block")
    f = open("data_scienec.txt", "w")
    f.write("Data Science")
    f.close()
    print("File Created")
    
    f = open("machine_learning.txt", "r")
    text = f.read()
    f.close()    
    
except FileNotFoundError as err:
    print(err)
    print("Except Block")
    
print("We are learning Exception Handling")

Try Block
File Created
[Errno 2] No such file or directory: 'machine_learning.txt'
Except Block
We are learning Exception Handling

In [2]:
try:
    print("Try Block")
    f = open("data_scienec.txt", "w")
    f.write("Data Science")
    f.close()
    print("File Created")
    
    f = open("machine_learning.txt", "r")
    text = f.read()
    f.close()    
    
except FileNotFoundError as err:
    print(err)
    print("Except Block")
    
print("We are learning Exception Handling")

Try Block
File Created
[Errno 2] No such file or directory: 'machine_learning.txt'
Except Block
We are learning Exception Handling

In [1]:
try:
    print("Try Block")
    f = open("data_scienec.txt", "x")
    f.write("Data Science")
    f.close()
    print("File Created")
    
    f = open("machine_learning.txt", "r")
    text = f.read()
    f.close()
    
except FileNotFoundError as err:
    print(err)
    print("Except Block")
    
except FileExistsError as e:
    print(e)
    print("FileExistsError exception block")
    
print("We are learning Exception Handling")

Try Block
[Errno 17] File exists: 'data_scienec.txt'
FileExistsError exception block
We are learning Exception Handling

In [3]:
try:
    print('Try Block')
    with open('data_science.txt' , 'x') as f1:
        f.write('DS = Data Science')
        print('data_science.txt - File Created')
        
    with open('MachineLearing.txt' , 'r') as f2:
        txt = f.read()
        print(txt)

except FileNotFoundError as err1 :
    print(err1)
    print('Except Block')

except FileExistsError as err2 : 
    print(err2)
    print('File Exists Error ')

print("File Handling")

Try Block
[Errno 17] File exists: 'data_science.txt'
File Exists Error
File Handling

In [4]:
f = open('DS.txt' , 'x')
f.write("Niranjan\nDuddi\nDidi")
f.close()

In [5]:
f= open('DS.txt', 'r')

content = f.read()
print(content)
f.close()

Niranjan
Duddi
Didi

In [6]:
import pandas as pd

In [7]:
file = 'Emp_Records.xlsx'

try:
    df = pd.read_csv(file)

except:
    df = pd.read_excel(file)
    print('Dataframe accessed via except block ')

print(df)

Dataframe accessed via except block
    Emp ID First Name  Age in Yrs  Weight in Kgs  Age in Company  Salary  \
0   677509       Lois       36.36             60           13.68  168251
1   940761     Brenda       47.02             60            9.01   51063
2   428945        Joe       54.15             68            0.98   50155
3   408351      Diane       39.67             51           18.30  180294
4   193819   Benjamin       40.31             58            4.01  117642
..     ...        ...         ...            ...             ...     ...
95  639892       Jose       22.82             89            1.05  129774
96  704709     Harold       32.61             77            5.93  156194
97  461593     Nicole       52.66             60           28.53   95673
98  392491    Theresa       29.60             57            6.99   51015
99  495141      Tammy       38.38             55            2.26   93650

            City
0         Denver
1      Stonewall
2   Michigantown
3       Hydetown
4        Fremont
..           ...
95        Biloxi
96  Carol Stream
97       Detroit
98      Mc Grath
99          Alma

[100 rows x 7 columns]

In [8]:
file = 'Emp_Records.xlsx'

try :
    df = pd.read_csv(file)
except:
    df = pd.read_excel(file)
    print('Except Block')

df

Except Block

,Emp ID,First Name,Age in Yrs,Weight in Kgs,Age in Company,Salary,City
0,677509,Lois,36.36,60,13.68,168251,Denver
1,940761,Brenda,47.02,60,9.01,51063,Stonewall
2,428945,Joe,54.15,68,0.98,50155,Michigantown
3,408351,Diane,39.67,51,18.30,180294,Hydetown
4,193819,Benjamin,40.31,58,4.01,117642,Fremont
...,...,...,...,...,...,...,...
95,639892,Jose,22.82,89,1.05,129774,Biloxi
96,704709,Harold,32.61,77,5.93,156194,Carol Stream
97,461593,Nicole,52.66,60,28.53,95673,Detroit
98,392491,Theresa,29.60,57,6.99,51015,Mc Grath
99,495141,Tammy,38.38,55,2.26,93650,Alma

# Try - Except - Else

In [9]:
try:
    print("Try block")
except:
    print('Except Block')
else :
    print('Else Block')

Try block
Else Block

In [10]:
try:
    print("Try block")
    a = 10/0
except:
    print('Except Block')
    print('Error in the Try Block')
else :
    print('There is no error in the try block')
    print('Else Block')

Try block
Except Block
Error in the Try Block

In [12]:
try:
    print("Try Block")
    # So there is no error in try block Therefore - except Block will not be executed
except:
    print("Error found in Try Block")
    print("Except Block")

else:
    print("No error in Try Block")
    print("Else Block")

Try Block
No error in Try Block
Else Block

In [14]:
try:
    print('Try Block')
    print('Python')
except:
    print('error Found in the Try block')
    print("Except Block")

else :
    print('No error in the Try Block')
    print("Except Block")

Try Block
Python
No error in the Try Block
Except Block

In [18]:
try:
    print('Try Block')
    print('Python')
    a = 10/0
except:
    print('error Found in the Try block')
    print("Except Block")
else :
    print('No error in the Try Block')
    print("Except Block")

Try Block
Python
error Found in the Try block
Except Block

# Try - Except - Finally

In [21]:
try:
    print('Try Block')
    try:
        x = {2 , 3 , 4 , 5 ,4 }
        y = [2,3,4,5,6]
        x.update(y)
        print(x)
    except:
        print(traceback.print_exc())
        print("Nested Except Block")
except:
    print('Error Found In - Try Block')
    print('Except Block')
finally:
    print("Finally Block")

Try Block
{2, 3, 4, 5, 6}
Finally Block

In [25]:
try:
    print("Try Block")
    print("Hello")
    try:
        x = [2,3,4,4,5]
        y = {2,3,4,5,6}
        x.update(y)    # Error : 'list' object has no attribute 'update'
        print(x)          
        
    except:
        print(traceback.print_exc())
        print("Nested except Block")
        
except:
    print("Error found in Try Block")
    print("Except Block")

finally:
    print("finally Block")

Try Block
Hello
Error found in Try Block
Except Block
finally Block

# Raise

raise 
> raise is used to manually trigger (throw) an exception.

> To validate user input
>
>To stop execution when condition fails
>
>To enforce business rules
>
>To create custom error messages

Syntax : 

> raise ExceptionType("Error message")

In [1]:
raise ValueError("Invalid input")

ValueError: Invalid input

In [26]:
try :
    raise NameError('Python is not Defined')
except NameError as err:
    print(err)

Python is not Defined

In [27]:
x = 100
y = 200

if type(x) == int and type(y) == int:
    add = x+y
    print(f"Addition of {x} and {y} is : {add}")
else:
    raise TypeError(f"Either {x} or {y} is not integer")

Addition of 100 and 200 is : 300

In [28]:
x = 100
y = 'Nira'

if type(x) == int and type(y) == int:
    add = x+y
    print(f"Addition of {x} and {y} is : {add}")
else:
    raise TypeError(f"Either {x} or {y} is not integer")

TypeError: Either 100 or Nira is not integer

Validate Age

In [8]:
def check_age(age):
    if age < 18:
        raise ValueError('Age Must be above 18')
    return "Eligible to drive"

print(check_age(19))

Eligible to drive

In [9]:
print(check_age(16))

ValueError: Age Must be above 18

In [12]:
def div(x,y):
    if y ==0 :
        raise ZeroDivisonError('Cannot Divide by 0')
    return x/y

div(10,2)

5.0

In [13]:
div(10,0)

NameError: name 'ZeroDivisonError' is not defined

In [14]:
def bank(balance , W_amount):
    if W_amount > balance:
        raise Exception('Insuffcient Ballance')
    return balance - W_amount

In [15]:
bank(1000 , 50)

950

In [16]:
bank(100 , 101)

Exception: Insuffcient Ballance

## Custom Exceptions in Python (Using raise)

A custom exception is a user-defined error.

You create your own exception class when built-in exceptions are not enough.

Used in:

1 Banking systems

2 Login systems

3 Age validation

4 Business logic rules

# How to Create

1. Create a Class

In [19]:
# It must inherit from Exception.

class MyError(Exception):
    pass

 2: Use raise

In [20]:
raise MyError("Something went wrong")

MyError: Something went wrong

### EG - Age Validation

In [24]:
class Age_Error(Exception):
    pass

def Age_Check(age):
    if age < 18:
        raise Age_Error('Cant Enter ! You Are Underage')
    return 'Can Enter'

Age_Check(10)

Age_Error: Cant Enter ! You Are Underage

## Using raise with try-except

In [33]:
class Balance_Error(Exception):
    pass

try:
    bal = 1000
    wid = 500
    if wid>bal:
        raise Balance_Error('Insufficient funds')
    print(bal-wid)
    
except Balance_Error as e :
    print("Error : " , e)

500

In [34]:
class Balance_Error(Exception):
    pass

try:
    bal = 100
    wid = 500
    if wid>bal:
        raise Balance_Error('Insufficient funds')
    print(bal-wid)
    
except Balance_Error as e :
    print("Error : " , e)

Error :  Insufficient funds

In [35]:
try:
    int("abc")
except ValueError as e:
    raise RuntimeError("Conversion failed") from e

RuntimeError: Conversion failed

1ï¸âƒ£ raise stops program execution immediately.

2ï¸âƒ£ You can raise:

>Built-in exceptions

>Custom exceptions

3ï¸âƒ£ Syntax:
raise ExceptionType("message")

4ï¸âƒ£ Difference between raise and assert?
| raise                  | assert             |
| ---------------------- | ------------------ |
| Used for custom errors | Used for debugging |
| Always active          | Can be disabled    |

In [42]:
def sal_check(sal):
    if sal < 0 or sal == 0:
        raise ValueError('Salary Cant be -ve || Zero')
    return sal
sal_check(100)

100

In [43]:
sal_check(-100)

ValueError: Salary Cant be -ve || Zero

In [44]:
sal_check(0)

ValueError: Salary Cant be -ve || Zero