# Functions

FUNCTION >> Block of code which is executed once its called 
FUNCTION >> Block of code

1. def keyword is used to define a function
2. Function Name >> Have to follow identifiers rules (var , func , class_name)
3. return statement is Optional

In [1]:
x , y = 10 , 15

add = x+y
add

25

In [2]:
def add_function(x , y , z):
    add = x + y
    return add
    
add_function(10 , 20 , 13)

30

In [12]:
def add_func(a1 , a2 , a3):
    
    add2 = a1 + a2 
    add3 = a1 + a2 + a3
    
    #return add3
    return add2

add_func(10 , 11, 12)

21

In [13]:
add_function(1, 99, 7)

100

In [25]:
def add_func(*a):
    add = sum(a)
    return add
add_func(5.13, 4897 ,23, 333)

5258.13

In [21]:
add_func(5, 1 ,78 , 90)

174

In [23]:
def add_func(*x):
    add = sum(x)
    return add

add_func(12 , 14 , 88 , 19)

133

*x means variable-length arguments
>>>> The function can accept any number of values.

In [27]:
def add_func(x = 10 , y = 34 , z = 34):
    print(f"x = {x}")
    print(f"y = {y}")
    print(f"z = {z}")
    
    add = x + y + z
    return("Addition : " , add)

add_func()

x = 10
y = 34
z = 34

('Addition : ', 78)

In [32]:
add_func(133)

x = 133
y = 34
z = 34

('Addition : ', 201)

### Syntax

def Function_Name(Parameters):  >>>>> Parameters are optional 
    """Docstring : Functionality of function """     >>>> Docstring is Optional

    Statement-1
    Statement-2
    Statement-N

    Return(Value)        >>>> Optional

Function_Name(arguements)  >>>> If (Parameters) are given we have to pass the (arguements)

In [33]:
print("We are learing Python and Data Science")

x = 10 
y = 45

add = x + y
print(f"Addition of {x} and {y}: {add}")

print("Machine Learning")
print("Deep Learning")
print("NLP")

We are learing Python and Data Science
Addition of 10 and 45: 55
Machine Learning
Deep Learning
NLP

In [35]:
def My_Func():
    print("Learn - Python , Ds , Big data , data Engineering")
    x = 10 
    y = 13
    add = x + y

    print(f"Addition of {x} and {y} >> {add}")
    print("Machine Learning")
    print("Deep Learning")
    print("NLP")
    print("*  " *20)
    print()

My_Func()
My_Func()

Learn - Python , Ds , Big data , data Engineering
Addition of 10 and 13 >> 23
Machine Learning
Deep Learning
NLP
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

Learn - Python , Ds , Big data , data Engineering
Addition of 10 and 13 >> 23
Machine Learning
Deep Learning
NLP
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [39]:
def add_func(a , b , c):
    """ rdqwtywfq dhegdywegd """
    add = a + b + c
    return(f"Addition of {a} , {b} , {c} : {add}")

add_func( 10, 67, 90)

'Addition of 10 , 67 , 90 : 167'

In [40]:
print(add_func.__doc__)

 rdqwtywfq dhegdywegd

In [34]:
def add_3_variable(x = 11 , y = 36 , z = 89):
    
    """Adding 3 Variables"""
    add = x + y + z
    return (f"Addition : {add}")

print(add_3_variable.__doc__)
print(add_3_variable())

Adding 3 Variables
Addition : 136

In [33]:
print(add)

55

logistic_regression
knn_classifier
decision_tree_classifier
random_forest_classifier

In [42]:
def logistic_regression():
    print("logistic_regression")
    print("logistic_regression")
    print("logistic_regression")
    print("logistic_regression")
    print("#"*20)

In [43]:
def knn_classifier():
    print("knn_classifier")
    print("knn_classifier")
    print("knn_classifier")
    print("#"*20)

In [44]:
def decision_tree_classifier():
    print("decision_tree_classifier")
    print("decision_tree_classifier")
    print("decision_tree_classifier")
    print("#"*20)

In [45]:
def random_forest_classifier():
    print("random_forest_classifier")
    print("random_forest_classifier")
    print("random_forest_classifier")
    print("#"*20)

In [46]:
logistic_regression()
knn_classifier()
decision_tree_classifier()
random_forest_classifier()

logistic_regression
logistic_regression
logistic_regression
logistic_regression
####################
knn_classifier
knn_classifier
knn_classifier
####################
decision_tree_classifier
decision_tree_classifier
decision_tree_classifier
####################
random_forest_classifier
random_forest_classifier
random_forest_classifier
####################

In [17]:
a = 10
b = 23
c = 27

print(f"a = {a} b = {b} c = {c} ")
avg = (a+b+c)/3

print(f"Avg is : {avg}")
print("*"*20)

a = 10 b = 23 c = 27
Avg is : 20.0
********************

In [49]:
def Avg():
    a = int(input("Enter A : "))
    b = int(input("Enter B : "))
    c = int(input("Enter C : "))
    
    avg = (a+b+c)/3
    print(f"Avg of >> {a} , {b} , {c} is : {avg}")
    print("* "*20)

In [51]:
print(Avg())

Enter A :  22
Enter B :  1223
Enter C :  1

Avg of >> 22 , 1223 , 1 is : 415.3333333333333
* * * * * * * * * * * * * * * * * * * *
None

In [52]:
def Avg(a , b , c):
    print(f"a = {a} , b = {b} ,c = {c}")

    avg = (a+b+c)/3
    print(f"Avg = {avg}")
    print("* "*5)

Avg(112, 32, 78)
Avg(92, 12, 8)

a = 112 , b = 32 ,c = 78
Avg = 74.0
* * * * *
a = 92 , b = 12 ,c = 8
Avg = 37.333333333333336
* * * * *

In [60]:
def Avg(*a):
    avg = sum(a) / len(a)
    return avg

print(Avg(10, 20, 30))

20.0

In [61]:
def Avg(*a):
    avg = sum(a)/len(a)
    return avg

Avg(112 , 13 , 90)

71.66666666666667

In [62]:
Avg(10 , 33)
# Avg() missing 1 required positional argument: 'c'

21.5

In [27]:
Avg(1 , 3, 5, 8)

# Avg() takes 3 positional arguments but 4 were given

TypeError: Avg() takes 3 positional arguments but 4 were given

In [30]:
def Avg(a , b , c):     # >>>> Parameters
    """Avg Function : 
            This function is used to find avg of 3 no
            Pass 3 numeric values as positional argument
    """
    print(f"A = {a} , B = {b} , C = {c}")

    avg = (a+b+c)/3
    print(f"Avg = {avg}")
    print()
    print("*  "*5)

Avg(109 , 23 , 45)     # >>>> Arguments

A = 109 , B = 23 , C = 45
Avg = 59.0

*  *  *  *  *

In [31]:
print(Avg.__doc__)

Avg Function :
            This function is used to find avg of 3 no
            Pass 3 numeric values as positional argument

## Factorial

In [63]:
n = 5
fact = 1

for i in range(1, n+1):
    fact*=i
print(fact)

120

In [5]:
n = 5
fact = 1

for i in range(1 , n+1):
    fact *= i

print(fact)

120

In [2]:
n = 10
fact = 1

for i in range(1 , n+1):
    fact *= i

print(fact)

3628800

In [68]:
n =5
fact = 1

for i in range(1 , n+1):
    if i > 0 :
        fact *= i
        print(f"Iteration {i} >>>> {fact}")
    else:
        print("Not Found")

Iteration 1 >>>> 1
Iteration 2 >>>> 2
Iteration 3 >>>> 6
Iteration 4 >>>> 24
Iteration 5 >>>> 120

In [69]:
n = 5
factor = 1

for i in range(1 , n+1):
    factor *= i
print(factor)

120

In [70]:
n = 5
fact = 1

for i in range(1 , n+1):
    fact *= i
    
print("Factorial of {} is : {} ".format(n , fact))

Factorial of 5 is : 120

In [34]:
n = 5
fact = 1
for i in range(1 , n+1):
    fact *= i
    print(f" Iteration {i} Factorial: {fact}")

 Iteration 1 Factorial: 1
 Iteration 2 Factorial: 2
 Iteration 3 Factorial: 6
 Iteration 4 Factorial: 24
 Iteration 5 Factorial: 120

fact *= i

1 *= 1 >>>>> 1
1 *= 2 >>>>> 2
2 *= 3 >>>>> 6
6 *= 4 >>>>> 24
24 *= 5 >>>>> 120

In [73]:
n = 5
fact = 1
if n > 0 :
    for i in range(1 , n + 1):
        fact *= i
        
    print("Factorial of <{}> is : <{}>".format(n , fact))
else:
    print("NA")

Factorial of <5> is : <120>

In [74]:
n = -5 
fact = 1

if n > 0 :
    for i in range(1 , n+1):
        fact*=i
    print("Factorial of {} is : {}".format(n , fact))

else:
    print("Not Available")

Not Available

In [40]:
n = 7
fact = 1

if n > 0 :
    for i in range(1 , n +1):
        fact *=i
    print("Factorial of {} is : {}".format(n , fact))
else:
    print("NA")

Factorial of 7 is : 5040

In [41]:
def Factorial():
    n = 8
    fact = 1
    if n > 0 :
        for i in range(1 , n+1):
            fact *= i
        print("Factorial of {} is : {}".format(n , fact))
    else:
        print("NA")

In [42]:
Factorial()

Factorial of 8 is : 40320

In [45]:
def factorial(n , fact):
    if n > 0:
        for i in range(1 , n+1):
            fact *= i
        print("Factorial of {} is : {}".format(n , fact))
    else:
        print("Na")

factorial(4 , 1)

Factorial of 4 is : 24

In [47]:
def factorial(n, fact = 1):
    if n > 0:
        for i in range(1 , n+1):
            fact *= i
        print("Factorial of {} is : {}".format(n , fact))
    else:
        print("Na")

factorial(-5)

Na

In [48]:
factorial(23)

Factorial of 23 is : 25852016738884976640000

In [49]:
factorial(7)

Factorial of 7 is : 5040

In [50]:
def factorial(n, fact = 1):

    """" Finding Factorial of Number"""
    if n > 0:
        for i in range(1 , n+1):
            fact *= i
        print("Factorial of {} is : {}".format(n , fact))
    else:
        print("Na")

factorial(-5)
print(factorial.__doc__)

Na
" Finding Factorial of Number

In [55]:
def get_sum(iterable):
    total = 0
    for i in iterable:
        total += i
    return total

get_sum([1, 2, 3, 4, 5])

15

Total = 0
itr 1 >>> 0 + 1 = 1 
itr 2 >>> 1 + 2 = 3
itr 3 >>> 3 + 3 = 6
itr 4 >>> 6 + 4 = 10
itr 5 >>> 10 + 5 = 15

In [70]:
a = int(input("Enter Your Age")) 

def greet():
    print("Hello")
def Leave():
    print("Please Leave")

if a >= 18:
    print(greet())
        
else:
    print(Leave())
    pass

Enter Your Age 1

Please Leave
None

In [3]:
for i in range(1 , 5 + 1):
    print(i)

1
2
3
4
5