# Functions

In [5]:
def test1(list1):
    print(list1)
    
    tot = 0
    mul = 1

    for num in list1:
        tot += num
        mul *= num
    print("Sum Is : ", tot)
    print("Mul Is : ", mul)

In [3]:
test1([1 , 4, 7, 99 , 22])

[1, 4, 7, 99, 22]
Sum Is :  133
Mul Is :  60984

In [6]:
def Calc(iterable):
    print("Iterable : ", iterable)
    tot = 0
    mul = 1
    for num in iterable:
        tot += num
        mul *= num
    print("Sum : ", tot)
    print("Mul : ", mul)

iterable = [ 12 , 8 , 4 , 88]

In [18]:
Calc(iterable)

Iterable :  [12, 8, 4, 88]
Sum :  112
Mul :  33792

In [1]:
def my_function(iterable):
    print("Iterable : ", iterable)

    tot = 0
    mul = 1
    for i in iterable:
        tot += i
        mul *= i
    print("Sum is :" , tot)
    print("Mul is : ", mul)

list1 = [1 , 3 , 5, 6, 7]

In [3]:
my_function(list1)

Iterable :  [1, 3, 5, 6, 7]
Sum is : 22
Mul is :  630

In [24]:
my_function(list1)

Iterable :  [1, 3, 5, 6, 7]
Sum is : 22
Mul is :  630

In [25]:
my_function([1 , 4, 66])

Iterable :  [1, 4, 66]
Sum is : 71
Mul is :  264

In [27]:
my_function({1 , 4 ,768, 9})

Iterable :  {768, 1, 4, 9}
Sum is : 782
Mul is :  27648

In [29]:
my_function((1 , 3, 5, ))

Iterable :  (1, 3, 5)
Sum is : 9
Mul is :  15

In [7]:
my_function('23456')
# >>>  unsupported operand type(s) for +=: 'int' and 'str'

NameError: name 'my_function' is not defined

In [35]:
a = '456763'

for i in a :
    print(i , type(i))

4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
7 <class 'str'>
6 <class 'str'>
3 <class 'str'>

In [43]:
def Calc(iterable):
    print("Iterable : " , iterable)
    sum1 = 0
    mul1 = 1

    for i in iterable:
        if type(i) == str:
            i = eval(i)

            sum1 += i
            mul1 *= i

    print("Addition is : " , sum1)
    print("Multi is : " , mul1)

Calc([52 , 3 , 1])

Iterable :  [52, 3, 1]
Addition is :  0
Multi is :  1

In [50]:
def Cal(iterable):
    print("Iterable : ", iterable )
    tot = 0
    mul = 1
    for i in iterable :
        if type(i) == str:
            i = eval(i)
            tot += i
            mul *= i

    print("Sum : ", tot)
    print("Mul : ", mul)


Cal("4567")

Iterable :  4567
Sum :  22
Mul :  840

In [49]:
Cal("4567")

Iterable :  4567
Sum :  22
Mul :  840

eval() 
>> is a built-in Python function that 
>> evaluates a string as a Python expression.

In [6]:
a = '1'
print(a)
print(type(a))

print(eval(a))
print(type(eval(a)))

1
<class 'str'>
1
<class 'int'>

# Return

In [15]:
def Calc(iterable):
    tot = 0
    mul = 1

    for no in iterable:
        if type(no) == str :
            no = eval(no)
        tot  += no
        mul *= no
    return "Hello"  
        

Calc("567")

'Hello'

In [20]:
def Calc(iterable):
    tot = 0
    mul = 1

    for no in iterable:
        if type(no) == str :
            no = eval(no)
        tot  += no
        mul *= no    
    return 'Hello'

Calc("567")

'Hello'

In [35]:
def Calc(itr):
    tot = 0
    mul = 1
    
    for i in itr :
        if type(i) == str:
            i = int(i)
        tot += i
        mul *= i
        
    return (f"Sum of {itr} is {tot} >>>  Mul is {mul}")

Calc('5829')

'Sum of 5829 is 24 >>>  Mul is 720'

In [47]:
def calc(itr):
    tot = 0
    mul = 1

    for i in itr:
        if type(i) == str:
            i = int(i)
            tot += i
            
        if i != 0:
            mul *= i
            
    print("Total : " , tot )        
    print("Mul : ", mul)
    
calc('668')

Total :  20
Mul :  288

In [49]:
def value (x):
    print(type(x))

value(120)

<class 'int'>

In [50]:
value("NIni")

<class 'str'>

In [51]:
value([1 , 4 , 5 ])

<class 'list'>

In [52]:
var = value(1)
var

<class 'int'>

In [55]:
def value(x):
    print(type(x))
value('string')

<class 'str'>

In [70]:
def value(x):
    print(x)


type(value(5))

5

NoneType

In [128]:
def value(x):
    return(x)

val = value(5)
val

5

In [133]:
x

40

In [132]:
x

40

In [119]:
def value(y):
    return(y)
    
val = value(90)
val

90

In [120]:
y + 1

NameError: name 'y' is not defined

In [89]:
type(val)

int

In [90]:
20 + val

110

In [91]:
x = 10 
x

10

In [92]:
print(x)

10

In [104]:
def value (x):
    print(x)
    
val = value(90)
val

90

In [113]:
val + 10

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

print(x)	>>>> Displays value only
return x	>>>> Sends value for further use

In [134]:
def value(a):
    return(a)

val = value(8)
val

8

In [139]:
val + 10

18

In [140]:
type(val)

int

In [141]:
def value(b):
    print(b)

val = value(12)
val

12

In [143]:
val + 10

# print(x)	>>>> Displays value only
# return x	>>>> Sends value for further use

# >> unsupported operand type(s) for +: 'NoneType' and 'int'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [178]:
def calc(itr):
    tot = 0
    mul = 1

    for i in itr :
        if type(i) == str:
            i = int(i)
        tot += i
        mul *= i
    return tot

calc('134')

8

In [180]:
idli = calc('155378')

In [181]:
idli

29

In [182]:
idli + 10

39

In [183]:
idli + 1

30

In [184]:
def calc(itr):
    tot = 0
    mul = 1
    for i in  itr :
        if type(i) == str:
            i = int(i)
        mul *= i
    return mul 

calc('567')

210

In [185]:
m = calc('567')

In [186]:
m

210

In [187]:
m + 10

220

In [200]:
def fact(x):
    fact = 1
    for i in range(1 , x+1):
        fact *= i 
    return fact

fact(5)

120

In [201]:
z = fact(4)

In [202]:
z

24

In [203]:
z + 10

34

In [207]:
def Calc(itr):
    tot = 0
    mul = 1

    for i in itr:
        if type(i) == str:
            i = int(i)
        tot += i
        mul *= i
    return tot , mul


Calc('5644')

(19, 480)

In [208]:
abd = Calc('5644')

In [209]:
abd

(19, 480)

In [210]:
type(abd)

tuple

In [211]:
abd[1]

480

In [212]:
abd[0]

19

In [213]:
tot , mul = Calc('5644')

In [217]:
print("Sum : " ,tot)
print("Multi : ",mul)

Sum :  19
Multi :  480

In [219]:
def addition():
    print("Hello Py")
    print("Addition Func")
    x = 100
    y = 10
    add = x + y
    print(add)
    return add

In [220]:
num = addition()

Hello Py
Addition Func
110

In [221]:
num

110

In [222]:
num + 5

115

In [223]:
s1 = {1 , 2}
s2 = {3 , 4}

s1.update(s2)

In [224]:
s1

{1, 2, 3, 4}