# Dictionary

Dictionary is 'KEY' AND 'VALUE' pairs

1. Mutable << Can be changed
2. Both 'Ordered' and Unordered
3. Indexing is now allowed
4. Key cannot be duplicated
5. Values can be duplicate
6. Written inside "{.....}"
7. Initiate using "{..}" or dict()

keys >> "Inmutable" (int , float , complex , string , tuple , frozenset)
values >> Any datatype (Mutable / Inmutable)

# Syntax

d = {key : Value}

In [1]:
a = {'a' : 10 , 'b' : 11}


len(a)

2

In [2]:
type(a)

dict

In [4]:
max(a)

'b'

{Kye = "String" : Values = int  }

In [5]:
d1 = {'a' : 90 , 'b' : 98 , 'c' : 78 , 'd' : 67 }
d1

{'a': 90, 'b': 98, 'c': 78, 'd': 67}

# >> key : int, values : int, list

In [6]:
d2 = {2 : 5 , 3 : 5 , 4 : 90 , 5 : [1 ,2 ,'idli']}
d2

{2: 5, 3: 5, 4: 90, 5: [1, 2, 'idli']}

key : list,int, values : int, list

In [8]:
d3 = {["idli" , 1 ,3] : 90 , 907 : 7 , 4 : [7 ,9 ]}
d3

# unhashable type: 'list'

TypeError: unhashable type: 'list'

>> key : tuple,int, values : int, list

In [9]:
d3 = {(3 ,4 ,5) : 89 , 8 : [3 ,5]}
d3

{(3, 4, 5): 89, 8: [3, 5]}

## Methods

----- access key and value ------

1 get()
2 keys()
3 values()
4 items()

---- To update dict ------
5 update()

----- To delete Item ------
6 pop()         [ dict1.pop(key) ]
7 popitem()     Deletes last item   [    dict1.popitem()    ]
8 clear()

In [11]:
dic1 = {'A' : 90 , 'B' : 67 , 'C': 66 , 'D' : 56 , 'E' : 45}
dic1

{'A': 90, 'B': 67, 'C': 66, 'D': 56, 'E': 45}

In [12]:
dic1['B']

67

In [13]:
dic1['A']

90

In [15]:
dic1 = {'A' : 90 , 'B' : 67 , 'C': 66 , 'D' : 56 , 'E' : 45}

key = 'A'

if key in dic1:
    print(dic1[key])
else :
    print('Not Found')

90

In [16]:
dic1 = {'A' : 90 , 'B' : 67 , 'C': 66 , 'D' : 56 , 'E' : 45}

key = 'C'

if key in dic1 :
    print(dic1[key])

else :
    print('Not Found')

66

# 1. get()

In [17]:
dic1 = {'A' : 90 , 'B' : 67 , 'C': 66 , 'D' : 56 , 'E' : 45}
dic1

{'A': 90, 'B': 67, 'C': 66, 'D': 56, 'E': 45}

# syntax

dic_name.get('Key')

In [18]:
dic1.get('A')

90

In [34]:
dic1.get('B')

67

In [19]:
print(dic1.get('C'))

66

In [20]:
EMP_DETAILS = {'Name' : 'Shraddha' , 'Age' : 25 , 'Job Role' : 'Ai Eng' , 'Salary' : 20 }

EMP_DETAILS.get('Job Role')

'Ai Eng'

In [21]:
EMP_DETAILS['Name']

'Shraddha'

In [22]:
type(EMP_DETAILS)

dict

In [41]:
len(EMP_DETAILS)

4

# 2. keys

# Syntax

dic_name.keys('Key')

Can be used to list out keys of dict

In [24]:
dict1 = {'A' : 90 , 'B' : 67 , 'C': 66 , 'D' : 56 , 'E' : 45}

dict1

{'A': 90, 'B': 67, 'C': 66, 'D': 56, 'E': 45}

In [25]:
dict1.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [26]:
type(dic1.keys())

dict_keys

In [27]:
list[dict1.keys()]

list[dict_keys(['A', 'B', 'C', 'D', 'E'])]

In [28]:
for key in dict1.keys():
    print(f"key : {key}")

key : A
key : B
key : C
key : D
key : E

In [29]:
a = 0
for key in dict1.keys():
    a += 1
    print(f"Key {a}: {key}")

Key 1: A
Key 2: B
Key 3: C
Key 4: D
Key 5: E

In [61]:
EMP_DETAILS = {'Name' : 'Shraddha' , 'Age' : 25 , 'Job Role' : 'Ai Eng' , 'Salary' : 20 }

EMP_DETAILS.keys()

dict_keys(['Name', 'Age', 'Job Role', 'Salary'])

In [32]:
EMP_DETAILS.keys('Name')
# .keys() does not take any argument

TypeError: dict.keys() takes no arguments (1 given)

In [35]:
for k in EMP_DETAILS.keys():
    
    if k == 'Job Role':
        print(f"{k} : {EMP_DETAILS['Job Role']}")

Job Role : Ai Eng

# 3.values()

Syntax : 

dict.values()

---- Returns the Values assigned to the key

In [47]:
dict1 = {'a' : 7 , 'b' : 5, 'c' : 5 , 'd' : 44}

dict1.values()

dict_values([7, 5, 5, 44])

In [40]:
for v in dict1:
    print(f"Key : {v}")

Key : a
Key : b
Key : c
Key : d

In [41]:
for v in dic1.values():
    print(f"Value : {v}")

Value : 90
Value : 67
Value : 66
Value : 56
Value : 45

In [49]:
for k in dict1.keys():
    print(f"key : {k}")

key : a
key : b
key : c
key : d

In [71]:
EMP_DETAILS = {'Name' : 'Shraddha' , 'Age' : 25 , 'Job Role' : 'Ai Eng' , 'Salary' : 20 }

EMP_DETAILS.values()

dict_values(['Shraddha', 25, 'Ai Eng', 20])

TypeError: dict.values() takes no arguments (1 given)

# 4.items()

.items

Lists all items in dict (key : value) , key : value

In [56]:
dic1.items()

dict_items([('A', 90), ('B', 67), ('C', 66), ('D', 56), ('E', 45)])

In [57]:
type(dic1.items())

dict_items

In [78]:
len(dic1.items())

5

In [79]:
list1 = [2,3,4,5,6]
print(list1)

[2, 3, 4, 5, 6]

In [81]:
print(enumerate(list1))

<enumerate object at 0x0000020C1F378450>

In [86]:
for i, v in enumerate(list1):
    print(i,v)

0 2
1 3
2 4
3 5
4 6

In [87]:
l = [9 , 7 , 6 , 0 , 55 , 'idli']

for i , v in enumerate(l):
    print(i , v)

0 9
1 7
2 6
3 0
4 55
5 idli

In [89]:
for value in enumerate(l):
    print(value)

(0, 9)
(1, 7)
(2, 6)
(3, 0)
(4, 55)
(5, 'idli')

In [58]:
x , y = (2, 1)

print("X : ", x)
print("Y : ", y)

X :  2
Y :  1

In [59]:
dict1 = {"A" : 100, "B" : 200, "C" : 300, "D" : 400, "E" : 500}

for i in dict1.items():
    print(i)

('A', 100)
('B', 200)
('C', 300)
('D', 400)
('E', 500)

In [102]:
for key , value in dict1.items():
    print(key ,":" ,value)

A : 100
B : 200
C : 300
D : 400
E : 500

In [107]:
for key , value in dict1.items():
    print(f"key = {key} Value = {value}")

key = A Value = 100
key = B Value = 200
key = C Value = 300
key = D Value = 400
key = E Value = 500

In [108]:
for i in dict1:
    print(i)

A
B
C
D
E

In [109]:
dict1["A"]

100

In [110]:
dict1 = {"A" : 100, "B" : 200, "C" : 300, "D" : 400, "E" : 500}

for key in dict1:
    print(key, dict1[key])

A 100
B 200
C 300
D 400
E 500

In [112]:
EMP_DETAILS = {'Name' : 'Shraddha' , 'Age' : 25 , 'Job Role' : 'Ai Eng' , 'Salary' : 20 }

for x in EMP_DETAILS:
    print(x , EMP_DETAILS[x])

Name Shraddha
Age 25
Job Role Ai Eng
Salary 20

In [113]:
for x in EMP_DETAILS.keys():
    print(x , EMP_DETAILS[x])

Name Shraddha
Age 25
Job Role Ai Eng
Salary 20

# 5. update

Syntax:

dict_name.update({'key' : 'value'})

can also add new key value pair as well
dict_name({'key' : 'value'})

In [125]:
EMP_DETAILS = {'Name' : 'Shraddha' , 'Age' : 25 , 'Job Role' : 'Ai Eng' , 'Salary' : 20 }

In [126]:
EMP_DETAILS['Name'] = 'Amruta'

print(EMP_DETAILS)

{'Name': 'Amruta', 'Age': 25, 'Job Role': 'Ai Eng', 'Salary': 20}

In [60]:
EMP_DETAILS['New Entry'] = 'New Entry'

In [62]:
EMP_DETAILS

{'Name': 'Shraddha',
 'Age': 25,
 'Job Role': 'Ai Eng',
 'Salary': 20,
 'New Entry': 'New Entry'}

In [63]:
EMP_DETAILS.update({'Age' : 79})

EMP_DETAILS

{'Name': 'Shraddha',
 'Age': 79,
 'Job Role': 'Ai Eng',
 'Salary': 20,
 'New Entry': 'New Entry'}

In [64]:
EMP_DETAILS = {'Name' : 'Shraddha' , 'Age' : 25 , 'Job Role' : 'Ai Eng' , 'Salary' : 20 }

NEW_entry = {'Location' : 'Pune' , 'Weight' : 60}

EMP_DETAILS.update(NEW_entry)
EMP_DETAILS

{'Name': 'Shraddha',
 'Age': 25,
 'Job Role': 'Ai Eng',
 'Salary': 20,
 'Location': 'Pune',
 'Weight': 60}

In [66]:
LIST = [1 ,2 ,3 ,4 ,5 ,6]

SQR = {}

for i in LIST :
    SQR.update({i : i**2})
    
print(SQR)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [138]:
l = [5 , 10 , 15 , 20]
sqr = {}

for i in l :
    sqr.update({i : i + 9})

print(sqr)

{5: 14, 10: 19, 15: 24, 20: 29}

In [139]:
type(sqr)

dict

In [140]:
x = {}
x

{}

In [142]:
x.update({1 : 2 , 2 :3})
x

{1: 2, 2: 3}

In [143]:
a = {}

print(a)

{}

In [148]:
a.update({'Idli' : 'Wada'})

a

{'Idli': 'Wada'}

In [150]:
a['Name'] = 'nira'
print(a)

{'Idli': 'Wada', 'Name': 'nira'}