# Types Of Arguments

arg >>>>> Argument
args >>>>> Arguments

In [ ]:
def my_func(parameter_1 , parameter_2 , parameter_3 , parameter_N):
    print("Learning Python Functions")
    return Value

my_func(arg_1 , arg_2 , arg_3 , arg_N)

Parameters >>> The variables we specify inside paranthisis at the time of defining Function
Arguments >>> Values which are passed to functions during the time of calling function

In [3]:
def addition_3(a , b , c):           # A,
    """Addition of 3 """
    add = a + b + c
    print(f"A = {a} B = {b} C = {c}")
    return add                        # Returns value of function 

addition_3(10 , 5 , 15)               # 10 , 5 , 15 are Arguments

A = 10 B = 5 C = 15

30

In [4]:
print(addition_3.__doc__)

Addition of 3

# Types Of Arguments

1. Positional Argument
2. Keyword Argument
3. Default Argument
4. Arbitary Positional Argumant
5. Arbitary Keyword Argument

## 1. Positional Argument

In [13]:
def Addition(x , y , z):           # x , y , z >>> Parameters 
    print(f"x >>> {x}  y >>> {y}  z >>> {z} ")
    add = x + y + z
    return add                    # add is the return value of this function

Addition(10 , 5 , 2)              # 10 , 5 , 2 >>> Are Positional Arguments

x >>> 10  y >>> 5  z >>> 2

17

In [15]:
def add(a , b , c):
    print(f"a = {a} , b = {b} , c = {c}")
    add = a + b + c
    return add

add(10 , 5 )           # >>> add() missing 1 required positional argument: 'c'

TypeError: add() missing 1 required positional argument: 'c'

In [16]:
def add(a , b , c):
    print(f"a = {a} , b = {b} , c = {c}")
    add = a + b + c
    return add

add(10 , 5 , 10 , 11)           # >>> add() takes 3 positional arguments but 4 were given

TypeError: add() takes 3 positional arguments but 4 were given

In [18]:
def add(a , b , c):
    print(f"a : {a} , b : {b} , c : {c}")
    add = a + b + c 
a = 10
b = 11
c = 23

add(a , b , c)

a : 10 , b : 11 , c : 23

In [19]:
def add(a , b , c):
    print(f"a : {a} , b : {b} , c : {c}")
    add = a + b + c 
l1 = [10 , 11 , 12]

a = l1[0]
b = l1[1]
c = l1[2]

add(a , b , c)

a : 10 , b : 11 , c : 12

In [21]:
def Fact(num):
    print("---- Factorial Of no ----")
    fact = 1
    for i in range(1 , num +1):
        fact *=i
    return fact

Fact(5)

---- Factorial Of no ----

120

In [22]:
def fact(num):
    print("--- Factorial of No ----")
    fact = 1
    for i in range(1 , num+1):
        fact *= i
    print(f"Factorial of {num} is {fact}")

fact(5)

--- Factorial of No ----
Factorial of 5 is 120

In [23]:
def Fact(num):
    print("---- Factorial Of no ----")
    fact = 1
    for i in range(1 , num +1):
        fact *=i
    return fact

Fact(5)

---- Factorial Of no ----

120

In [24]:
Fact(5) + 10

---- Factorial Of no ----

130

## 2. Keyword Argument

>>> Keywords argument should follow Positional Argument

In [25]:
def add(a, b , c):            # Parameters
    print(f"a>{a} , b>{b} , c>{c}")
    add = a + b + c
    return add                # Return Value

add(10 , 2 , 5)          # Positional Argument

a>10 , b>2 , c>5

17

In [27]:
def add(a , b , c):
    print(f"a : {a} , b : {b} , c : {c}")
    add = a+b+c
    return add

add(a = 10 , b = 20 , c = c)

a : 10 , b : 20 , c : 12

42

In [28]:
def add(a , b , c):
    print(f"a : {a} , b : {b} , c : {c}")
    add = a+b+c
    return add

add(x = 10 , y = 20 , z = 30)       
# Error >>>>>  add() got an unexpected keyword argument 'x'

TypeError: add() got an unexpected keyword argument 'x'

In [29]:
def add(a , b , c):
    print(f"a : {a} , b : {b} , c : {c}")
    add = a+b+c
    return add

add(10 , b = 15 , c = 20)

a : 10 , b : 15 , c : 20

45

In [30]:
def add(a , b , c):
    print(f"a : {a} , b : {b} , c : {c}")
    add = a+b+c
    return add

add(b = 10 , c = 15 , 100)

# Error >>> positional argument follows keyword argument

SyntaxError: positional argument follows keyword argument (3783148210.py, line 6)

In [31]:
def add(a , b , c):
    print(f"a : {a} , b : {b} , c : {c}")
    add = a+b+c
    return add

add(10 , 20 , c = 11)

a : 10 , b : 20 , c : 11

41

## 3. Default Argument / Parameters

In [40]:
def add(a , b , c = 12):      # c is Default Argument
    add = a+ b + c
    return add

add(10 , 20 , c)

42

In [41]:
def add(a , b , c ):
    add = a+ b + c
    return add

add(10 , 100 , c = 12)     # C is Default Argument

122

In [42]:
l1 = [10 , 6 , 1 , 11]
sorted(l1)

[1, 6, 10, 11]

In [43]:
sorted([10 , 11 , 5 , 2])

[2, 5, 10, 11]

In [55]:
sorted([10 , 2 , 7 , 3] , reverse = True)

[10, 7, 3, 2]

In [52]:
print(sorted([10 , 2 , 7 , 3]))

[2, 3, 7, 10]

In [54]:
print(sorted([10 , 2 , 7 , 3] , reverse = True))

[10, 7, 3, 2]

## 4. Arbitary Positional Argument

>>> Variable Length Argument
>>> If we dont know the number of arguments to be passed 
    At the time we use Arbitary Positional Argument


>>> Datatypes of args Variable is "Tuple"

In [56]:
def add (n1 , n2 , n3 , n4):
    print(f"n1 , n2 , n3 , n4" , n1 , n2 , n3 , n4)
    add = n1 + n2 + n3 + n4
    print(add)

add(10 , 20 , 21 , 33)

n1 , n2 , n3 , n4 10 20 21 33
84

In [2]:
def add(a , b , c , d , e ):
    print(f"a , b , c , d , e" , a , b , c , d , e)
    add = a + b + c + d + e
    return add

add(10 , 12 , 22 , 32 , 1)

a , b , c , d , e 10 12 22 32 1

77

In [5]:
type(add(10 , 12 , 22 , 32 , 1))

a , b , c , d , e 10 12 22 32 1

int

In [19]:
def my_fun(*args):
    print("args >>", args)
    result = [i * 10 for i in args]   # args >> tuple
    return result
    
my_fun(3,4,5,6,7,8,9,10)

args >> (3, 4, 5, 6, 7, 8, 9, 10)

[30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
def sqr(*args):
    res = [i ** 2 for i in args]
    return res

sqr(10 , 11 , 12 ,14)

[100, 121, 144, 196]

In [21]:
def add(*args):
    tot = 0
    for i in args:
        tot =+ i
    return tot

add(10 , 11 , 12 ,23)

23

In [42]:
def Func(*idli):
    print("Args >>> ", idli)
    res = [i*10 for i in idli]
    return res

Func(10 , 5 , 2 , 4 , 9)

Args >>>  (10, 5, 2, 4, 9)

[100, 50, 20, 40, 90]

In [38]:
type(Func(10 , 5 , 2 , 4 , 9))

Args >>>  (10, 5, 2, 4, 9)

list

In [41]:
type([100, 50, 20, 40, 90])

list

In [44]:
def my_func(*args):
    print("args: ", args)
    res = [i * 10 for i in args]
    return res

my_func(10 , 11 , 12 , 13)

args:  (10, 11, 12, 13)

[100, 110, 120, 130]

In [45]:
def my_func(*idli):
    print("Args >>> ", idli)
    result = [i* 10 for i in idli]
    return result

my_func(1  , 2 , 3 , 4 , 5)

Args >>>  (1, 2, 3, 4, 5)

[10, 20, 30, 40, 50]

In [49]:
res = [i**2 for i in range(0 , 10) if i**2< 10]

# keeps the values whoes square is less than 10 [10 > i**2]

In [48]:
res

[0, 1, 4, 9]

In [61]:
for i in range(0 , 10):
    if i**2 < 10:
        print("Number : ", i)
        print("Square : ", i ** 2)
        print()

Number :  0
Square :  0

Number :  1
Square :  1

Number :  2
Square :  4

Number :  3
Square :  9

In [62]:
for i in range(0, 10):
    if i **2 < 10 :
        print(i)

0
1
2
3

In [69]:
for i in range(1 , 10):
    if i**2 < 10 :
        print(i**2)

1
4
9

In [ ]:
def my_func(*args):
    print("args >> ", args)
    res = [i * 10 for i in args]
    return res

my_func()       

# args >>  ()     >>>>>> Tuple
# []

In [71]:
def my_func(*args):
    print("Args : ", args)
    res = [i*10 for i in args]
    return res

my_func(10 , 20 , )

Args :  (10, 20)

[100, 200]

In [80]:
def my_func(a , b , *args):
    print("args : ", args)
    res = [i *10 for i in args]
    return res
my_func(10,)
# Error >> my_func() missing 1 required positional argument: 'b'

TypeError: my_func() missing 1 required positional argument: 'b'

In [82]:
def my_func(a , b , *args):
    print("args : ", args)
    res = [i * 2 for i in args]
    return res

my_func(1 , 2)

args :  ()

[]

In [83]:
def my_func(a , b , *args):
    print("args : ", args)
    print("a" , a)
    print("b" , b)
    res = [i * 2 for i in args]
    return res

my_func(1 , 2)

args :  ()
a 1
b 2

[]

In [88]:
def my_func(a , b , *args):
    print("args : ", args)
    print("a" , a)
    print("b" , b)
    res = [ i ** 2 for i in args]
    print("Squre of Args >>")
    return res

my_func(1 , 2 , 3 , 4 , 5 , 6 )

args :  (3, 4, 5, 6)
a 1
b 2
Squre of Args >>

[9, 16, 25, 36]

In [96]:
def myfunc(a , b , *c):
    print("C : ", c)
    print("a : ", a)
    print("b : ", b)
    res = [i *10 for i in c]
    res.append(a*10)
    res.append(b*10)
    print(res)

myfunc(10 , 20 , 30, 40)

C :  (30, 40)
a :  10
b :  20
[300, 400, 100, 200]

In [97]:
def my_func(a , b , *args):
    print(f"a == {a} b=={b}")
    print("Args : " , args)
    res = []
    res.append(a*10)
    res.append(b*10)

    for i in args:
        res.append(i * 10 )
    return res

my_func(2 , 3 , 4, 5, 6 , 7 , 8)

a == 2 b==3
Args :  (4, 5, 6, 7, 8)

[20, 30, 40, 50, 60, 70, 80]

In [98]:
def my_func(a , b , *args):
    print(f"a == {a} b=={b}")
    print("Args : " , args)
    res = []
    # res.append(a*10)
    # res.append(b*10)

    for i in args:
        res.append(i * 10 )
    return res

my_func(2 , 3 , 4, 5, 6 , 7 , 8)

a == 2 b==3
Args :  (4, 5, 6, 7, 8)

[40, 50, 60, 70, 80]

## Arbitary Keyword Arguments

**kwargs >> ** Keyword Argumants
Variable Length Arguments 

In Case :
we dont know the no of keywords we can use Arbitary keword Argument

Data type >>> Dict

In [5]:
def my_func(a , b , c , d):
    print("a : ", a)
    print("b : ", b)
    print("c : ", c)
    print("d : ", d)
    res = a+b+c+d
    return res

my_func( a = 10 , b = 12 ,c = 2 , d = 13)

a :  10
b :  12
c :  2
d :  13

37

In [33]:
def my_func(**kwargs):
    print(f"Kwargs >>>> ", kwargs)
    res = 0 
    return res

my_func(a = 10 , b = 10 , c = 30 )

Kwargs >>>>  {'a': 10, 'b': 10, 'c': 30}

0

In [32]:
def my_func(**kwargs):
    res = kwargs
    return res

my_func(a = 10 , b = 10 , c = 30 )

{'a': 10, 'b': 10, 'c': 30}

In [16]:
def my_func(**kwargs):
    print(f"Kwargs >>>> ", kwargs)
    pi = 3.145
    return pi

my_func(a = 10 , b = 10 , c = 30 )

Kwargs >>>>  {'a': 10, 'b': 10, 'c': 30}

3.145

In [17]:
def my_func(**kwargs):
    print(f"Kwargs : {kwargs}")
    print("Values : " , kwargs.values())
    res = 100
    return res

my_func(a = 10 , b = 12 , c = 13 , d = 14)

Kwargs : {'a': 10, 'b': 12, 'c': 13, 'd': 14}
Values :  dict_values([10, 12, 13, 14])

100

In [18]:
def my_func(**kwargs):
    print(f"kwargs >> {kwargs}")
    print(f"sum of values >>> {sum(kwargs.values())}")

    res = 100
    return res

my_func(a = 10 , b = 12 , c = 14 , d = 15)

kwargs >> {'a': 10, 'b': 12, 'c': 14, 'd': 15}
sum of values >>> 51

100

In [23]:
def my_func(**kwargs):
    print("Kwargs >> ", kwargs)
    print("Sub Name : ", list(kwargs.keys()))
    
    print("Marks Obtained : ", list(kwargs.values()))
    percent = sum(kwargs.values())/ len(kwargs)
    
    f_res = f"Percent : {percent}"
    return f_res

my_func(eng = 100 , mar = 90 , math = 95 , sci = 99)

Kwargs >>  {'eng': 100, 'mar': 90, 'math': 95, 'sci': 99}
Sub Name :  ['eng', 'mar', 'math', 'sci']
Marks Obtained :  [100, 90, 95, 99]

'Percent : 96.0'

In [28]:
def my_func(**kwargs):
    print("Kwargs : ", kwargs)
    print("Sum : ", sum(kwargs.values()))
    percent = sum(kwargs.values()) / len(kwargs.keys())
    return percent

my_func(math = 100 , eng = 89 , mar = 90 , hin = 88)

Kwargs :  {'math': 100, 'eng': 89, 'mar': 90, 'hin': 88}
Sum :  367

91.75

# Testing some Arguments

In [2]:
def test_function():
    print("Testing Arguments !!")

test_function()

Testing Arguments !!

In [3]:
def test(a , b):
    print("Testing Arguments !")
    print(f"a == {a}|| b == {b}")
test(10 , 12)

Testing Arguments !
a == 10|| b == 12

In [7]:
def test(a , b , c =15 , d = 18):     # Default Arguments >> c and d
    print("Default Arguments")
    print(f"a =={a} || b == {b}")
    print(f"c =={c} || d == {d}")

test(10 , 11)

Default Arguments
a ==10 || b == 11
c ==15 || d == 18

In [5]:
test(10 , 11 , 111)

Default Arguments
a ==10 || b == 11
c ==111 || d == 18

In [6]:
test(10 , 11 , 13 , 7)

Default Arguments
a ==10 || b == 11
c ==13 || d == 7

In [8]:
test(10 , 12 , c = 11 , d = 13)     # Positional and Default Argument

Default Arguments
a ==10 || b == 12
c ==11 || d == 13

In [9]:
test(10 , 12 , d = 11 , c = 13)     # Positional and Default Argument

Default Arguments
a ==10 || b == 12
c ==13 || d == 11

In [10]:
def test (a , b , c , d , *args):
    print(f"a == {a} || b == {b} || c == {c} || d == {d}")
    print("Args : ", args)

test(10 , 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18)

a == 10 || b == 11 || c == 12 || d == 13
Args :  (14, 15, 16, 17, 18)

In [15]:
def test(a , b , c = 15 , d = 90 , *args):
    print(f"a == {a} || b == {b} || c == {c} || d == {d}")
    print("Args : ", args)

test(10 , 12 , d = 23 , c = 5112)     # Positional and Default Argument

a == 10 || b == 12 || c == 5112 || d == 23
Args :  ()

In [17]:
def test(a , b , c , *args):
    print(f"a == {a} || b =={b} , c == {c}")
    print("Args : " , args)

test(10 , 11 , 40 , 50 ,44,77)     # Positional arg , Default arg , Arbitary Positional

a == 10 || b ==11 , c == 40
Args :  (50, 44, 77)

In [18]:
def test(a , b , c = 199, *args):
    print(f"a == {a} || b == {b} || c == {c}")
    print("Args : ", args)

test(10 , 12 , 23 , 43 , 531 , 44, 11)

a == 10 || b == 12 || c == 23
Args :  (43, 531, 44, 11)

In [22]:
def test_function(*args,*args1):    # default parameters
    print("We are testing Arguements")
    print(f"a == {a}, b == {b}")
    print(f"c == {c}, d == {d}")
    print(f"args", args)
    
test_function(10,20,30,40,50,60)   

# Error >> * argument may appear only once

SyntaxError: * argument may appear only once (2578695384.py, line 1)

In [24]:

def test(*args):
    tuple1 = args[0]
    print("Tuple 1 >> ",tuple1)

    tuple2 = args[1]
    print("Tuple 2 >> ", tuple2)

    print(f"Args >> {args}")

x = (10 , 20 , 30 , 40)
y = (11, 21 , 31 , 41)
test(x , y)

Tuple 1 >>  (10, 20, 30, 40)
Tuple 2 >>  (11, 21, 31, 41)
Args >> ((10, 20, 30, 40), (11, 21, 31, 41))

In [25]:
test(10 , 102 , 32 , 14 , 11 , 55)

Tuple 1 >>  10
Tuple 2 >>  102
Args >> (10, 102, 32, 14, 11, 55)

In [28]:
def test(a , b , *args , c = 111 , d = 44):
    print(f"a == {a}, b == {b}")
    print(f"c == {c}, d == {d}")

    print("Args : " , args)

test(10 , 21 , 23 , 43 , 55 , d = 90 , c = 222)

a == 10, b == 21
c == 222, d == 90
Args :  (23, 43, 55)

In [29]:
def test_function(a,b,*args, c= 100, d=200, **kwargs):    # default parameters
    print("We are testing Arguements")
    print("Postional args >>", a, b)
    print("Arbitary Postional args >>", args)
    print("Default Args >> ", c,d)
    print("Arbitary kwargs >>", kwargs)
    
test_function(10,20,30,40,50,60,70,80, c = 1000, d = 2000, x = "python", y = "machine learning")                # Postional args, default args, arbitary postional

We are testing Arguements
Postional args >> 10 20
Arbitary Postional args >> (30, 40, 50, 60, 70, 80)
Default Args >>  1000 2000
Arbitary kwargs >> {'x': 'python', 'y': 'machine learning'}