# ✅ STRING – Easy Questions

Write a program to count the number of characters in a string.

In [21]:
a = 'Niranjan'

print("No of char : ", len(a))

No of char :  8

In [23]:
count = 0
for i in a :
    count += 1

print(count)

8

Check if a string contains the letter 'a'.

In [9]:
a = 'Niranjan'

if 'i' in a:
    print("Letter exist")

Letter exist

In [13]:
for i in a :
    if i == 'd':
        print('Char exist')

    else:
        print("NO")

NO

Convert a string to uppercase without using .upper().

In [35]:
a = 'NiraNjan'

upp_a = ''

for ch in a:
    if 'a' <= ch <= 'z':
        upp_a += chr(ord(ch)-32)

    else:
        upp_a += ch

print(upp_a)

NIRANJAN

In [ ]:
s = "hello"
mapping = {chr(i): chr(i - 32) for i in range(ord('a'), ord('z') + 1)}

result = ""
for ch in s:
    if ch in mapping:
        result += mapping[ch]
    else:
        result += ch

print(result)   # HELLO

Count how many vowels (a,e,i,o,u) are in a string.

In [45]:
a = 'Niranja'
b = 'aeiouAEIOU'

cnt = 0

for ch in a :
    if ch in b:
        cnt += 1

print(cnt)

3

In [48]:
a = 'Nigesh'

count = 0

for ch in a:
    if ch == 'a' or 'e' or 'o' or 'u':
        count += 1

print(count)

6

Reverse a string using slicing.

In [50]:
a = 'Niranjan'

print(a[: :-1])

najnariN

In [51]:
a = 'Idli Wada'

b = a[::-1]
print(b)

adaW ildI

Check if a string is palindrome (same forward & backward).

In [66]:
a = 'ana'

b = a[::-1]

if a == b and b ==a:
    print("palindrome")

else:
    print("Not Palindrome")

palindrome

In [77]:
a = 'nina'

rev = ""

for ch in a :
    rev = ch + rev
    
if rev == a :
    print("yes")

else:
    print('NO')

NO

Replace all spaces in a string with -.

In [82]:
a = """Name Niranjan
age 20
location pune
food dosa"""

res = ""

for ch in a :
    if ch == " ":

        res  += "-"

    else:
        res += ch

print(res)

Name-Niranjan
age-20
location-pune
food-dosa

In [83]:
a = "idli wada"

b = a.replace(" " , "-")
print(b)

idli-wada

Find the first and last character of a string.

In [85]:
a = "Nira"

print("1st letter : " , a[0])
print("Last Letter :" , a[-1])

1st letter :  N
Last Letter : a

In [87]:
a = "nira"

for ch in a :
    if ch == a[0]:
        print("1st letter is :" , ch)
    if ch == a[-1]:
        print("Last letter : " , ch)

1st letter is : n
Last letter :  a

Take a string input and print each character on a new line.

In [89]:
a = input("Enter string : ")

for ch in a :
    print(ch)

Enter string :  idljdud

i
d
l
j
d
u
d

Remove all digits from a string.

In [92]:
a = 'idli5wada6'
res = ""

for ch in a:
    if not (ch >= '0' and ch <= '9'):
        res += ch

print(res)

idliwada

In [94]:
a = 'nira56'

res = ""
for ch in a:
    if not ch.isdigit():
        res += ch

print(res)

nira

# ✅ List

Create a list of 5 numbers and print the sum.

In [97]:
a = [10 , 22 , 3 , 5, 1 ]

sum = 0

for x in a :
    sum = sum + x 
    
print(sum)

41

Find the largest number in a list.

In [105]:
a = [2 , 1 , 4 , 90 , 0]

l = a[0]

for x in a :
    if x > l:
        l = x

print(l)

90

Add an element to a list and print the updated list.

In [108]:
a = ['a' , 'ini' , 0.9 , 7]

a.append('pi')

print(a)

['a', 'ini', 0.9, 7, 'pi']

In [111]:
a = ['idli' , 90 , 99 , 1 , (3 ,33)]

list_b = []

for x in a :
    list_b.append(x)

list_b.append('a')

print(list_b)

['idli', 90, 99, 1, (3, 33), 'a']

Remove a specific element from a list.

In [112]:
a = ['idli' , 90 , 99 , 1 , (3 ,33)]
a.remove(a[1])

print(a)

['idli', 99, 1, (3, 33)]

In [114]:
a = ['idli' , 90 , 99 , 1 , (3 ,33)]

a.pop(3)
# index

print(a)

['idli', 90, 99, (3, 33)]

In [117]:
a = ['idli' , 90 , 99 , 1 , (3 ,33)]

del a[1]

print(a)

['idli', 99, 1, (3, 33)]

Count how many times a value appears in a list.

In [122]:
a = [1 ,2  ,2 ,  3 , 4,2 ,5,6 ,8] 

t = 2
cnt = 0

for x in a :
    if x == t:
        cnt += 1

print(cnt)

3

Reverse a list without using .reverse().

In [124]:
a = [1 , 3 , 5 , 66]

b = a[: : -1]

print(b)

[66, 5, 3, 1]

Convert a list of numbers into a list of strings.

In [129]:
a = [78 , 7 , 1 , 44]

b = []

for x in a :
    b.append(str(x))

print(b)

['78', '7', '1', '44']

Check if a value exists in a list.

In [132]:
a = [78 , 7 , 1 , 44] 

b = 6

for x in a :
    if x == b:
        print("yes")
else:
    print("no")

no

Print only even numbers from a list

In [3]:
a = [89 , 33, 4 , 2 , 90 , 4 , 1]

a_even =[]

for x in a :
    if x % 2 == 0 :
        a_even.append(x)

print(a_even)

[4, 2, 90, 4]

Merge two lists into one.

In [7]:
a = [1 , 3, 4]
b = ['nira' , 'rtyu']

for x in b :
    a.append(x)

print(a)

[1, 3, 4, 'nira', 'rtyu']

# ✅ DICTIONARY

Create a dictionary of 3 key-value pairs and print all keys.

In [3]:
a = {'a' : 10 , 'b' : 20 , 'c' : 30}

a.keys()

dict_keys(['a', 'b', 'c'])

Add a new key-value pair to a dictionary.

In [4]:
a = {'a' : 10 , 'b' : 20 , 'c' : 30}

a['d'] = 40
# add new key value pair

a

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

 Update the value of an existing key.

In [5]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

a['b'] = 6

a

{'a': 10, 'b': 6, 'c': 30, 'd': 40}

Check if a key exists in a dictionary.

In [30]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
target = 'm'

if target in a:
    print("yes")
else:
    print("NO")

NO

Delete a key from a dictionary.

In [31]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

del a['c']

a

{'a': 10, 'b': 20, 'd': 40}

In [32]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

a.pop('b')
#using pop
a

{'a': 10, 'c': 30, 'd': 40}

In [33]:
a = {'a': 10, 'b': 20, 'c': 30}

a.popitem()
print(a)   # removes last item

{'a': 10, 'b': 20}

Iterate through dictionary and print keys & values.

In [36]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

for x , y in a.items():
    print(f'Key : {x} Value : {y}')

Key : a Value : 10
Key : b Value : 20
Key : c Value : 30
Key : d Value : 40

Create a dictionary from two lists (keys list, values list).

In [38]:
k = ['a' , 'b' , 'c']
v = [10 , 20 , 30]

# using zip  - datatype(zip(list1 , list2))
a = dict(zip(k , v))

a

{'a': 10, 'b': 20, 'c': 30}

In [40]:
k , v = {'a' , 'b' , 'c' } , {10 , 20 , 30 }

dict(zip(k , v))

{'a': 10, 'b': 20, 'c': 30}

Count occurrences of characters in a string and store in a dictionary.

In [46]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
cnt = {}

for ch in a.items() :
   if ch in cnt:
       cnt[ch] += 1

   else:
       cnt[ch] = 1

print(cnt)

{('a', 10): 1, ('b', 20): 1, ('c', 30): 1, ('d', 40): 1}

In [48]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

cnt = 0

for k  , v  in a.items():
    if isinstance(k , str):
        cnt += 1

print(cnt)

4

Swap keys and values in a dictionary.

In [56]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

sw = {v : k for k , v in a.items()}

print(sw)

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

Get the value of a key using .get() and show default value if not found.

In [75]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = 'a'

value = a.get(x , ' Not given')

print(f"Key {x} is :" , value)

Key a is : 10