# SET

A set in Python is an unordered, mutable data type used to store unique elements only.

Mutable >> Changes are allowed 
Un-ordered >> Cannot use indexing or slicing
Duplicates are 'Not allowed'
Enclosed by {}
Initialized with set()
Items are comma saperated
We can only add immutable items in set datatype - int , float , complex , str , tuple , bool , frozenset , NoneType

In [1]:
set1 = {1, 2 , 33 , 44}
set1

{1, 2, 33, 44}

In [2]:
type(set1)

set

In [3]:
set1[1]

# 'set' object does not support item assignment

TypeError: 'set' object is not subscriptable

In [4]:
a = { 1 , 3 , 5 , 'Nira' }
print(a , type(a))

{1, 3, 5, 'Nira'} <class 'set'>

In [13]:
len(a)

4

In [5]:
a = { 1 , 3 , 5 , 'Nira' , [1, 2, 3] } 
# unhashable type: 'list'

TypeError: unhashable type: 'list'

In [18]:
del a

In [24]:
a = {3,3.45, "python", (12,3,4)}
a

{(12, 3, 4), 3, 3.45, 'python'}

In [6]:
a = {3,3.45, "python", {12,3,4}}  
# Trying to change - returns error 'unhashable type: 'set''
type(a)

TypeError: unhashable type: 'set'

In [7]:
list1 = [1 , 2 ,3 , 3, 4 , 5, 6 , 7 , 5]
print("List 1 : " , list1 , type(list1))
# list allowes duplicate

s1 = set(list1)
print("S1 : " , s1 , type(s1))
# set does not allow any duplicate

list2 = list(s1)
print("List 2 : ", list2 , type(list2))

List 1 :  [1, 2, 3, 3, 4, 5, 6, 7, 5] <class 'list'>
S1 :  {1, 2, 3, 4, 5, 6, 7} <class 'set'>
List 2 :  [1, 2, 3, 4, 5, 6, 7] <class 'list'>

In [8]:
l1 = [1 , 2, 3, 6 , 6 , 8 , 8]
print("List 1 :" , l1)
type(l1)

List 1 : [1, 2, 3, 6, 6, 8, 8]

list

In [8]:
S1 = set(l1)
print("Set : ", S1)
type(S1)

Set :  {1, 2, 3, 6, 8}

set

In [4]:
list1 = [3,4,5,5,5,6,7,8,3,8,2]

set1 = set(list1)

print((set1))
print(type(set1))

{2, 3, 4, 5, 6, 7, 8}
<class 'set'>

In [6]:
l1 = [3,4,5,5,5,6,7,8,3,8,2]
print("List1 : " , l1 , type(l1))

l2 = set(l1)
print("List2 : ", l2 , type(l2))

List1 :  [3, 4, 5, 5, 5, 6, 7, 8, 3, 8, 2] <class 'list'>
List2 :  {2, 3, 4, 5, 6, 7, 8} <class 'set'>

In [16]:
l1 = [3,4,5,5,5,6,7,8,3,8,2]
print("List 1 : " , l1 , 'Length : ', len(l1) ,'Data Type : ', type(l1))

l2 = list(set(l1))
print("List 2 : " , l2 , "Length : " , len(l2) , "Data Type :" , type(l2))

List 1 :  [3, 4, 5, 5, 5, 6, 7, 8, 3, 8, 2] Length :  11 Data Type :  <class 'list'>
List 2 :  [2, 3, 4, 5, 6, 7, 8] Length :  7 Data Type : <class 'list'>

# Ascess Set Item

In [9]:
set1 = {1 , 3 , 5 , 6 , 8 , 90}
set[0]
# Cant acess item by index

set[0]

In [10]:
set1 = {1 , 3 , 5 , 6 , 8 , 90}
set[0:3]
# Cannot use Slicing

set[slice(0, 3, None)]

In [11]:
set1 = {1 , 3 , 5 , 6 , 6 , 6 , 8 , 90}

print("Set :" , set1)

for x in set1:
    print(x)

Set : {1, 3, 5, 6, 8, 90}
1
3
5
6
8
90

In [13]:
set1 = {1 , 3 , 5 , 6 , 6 , 6 , 8 , 90}

print(set1)
for i in set1:
    print(f"Value of i : {i}")

{1, 3, 5, 6, 8, 90}
Value of i : 1
Value of i : 3
Value of i : 5
Value of i : 6
Value of i : 8
Value of i : 90

In [22]:
set1 = {1 , 3 , 3.145 , 3+5j ,  6 , 6 , 6 , 'python' , 8 , 90}
print('Set : ' , set1)

for i in set1:
    print("i :" , i)

Set :  {1, 3.145, 3, 90, 6, 8, (3+5j), 'python'}
i : 1
i : 3.145
i : 3
i : 90
i : 6
i : 8
i : (3+5j)
i : python

In [23]:
for i , v in enumerate(set1, start = 0 ):
    print(f"{i} : {v}")

0 : 1
1 : 3.145
2 : 3
3 : 90
4 : 6
5 : 8
6 : (3+5j)
7 : python

In [24]:
for i , v in enumerate(set1 , start = 0):
    print(f"{i} : {v}")

0 : 1
1 : 3.145
2 : 3
3 : 90
4 : 6
5 : 8
6 : (3+5j)
7 : python

In [25]:
set1 = {1 , 3 , 3.145 , 3+5j , 'Py' , 1 , 2 , 3 , 4}

for i , v in enumerate(set1 , start = 0):
    print(f"Index : {i} and Value : {v}")

Index : 0 and Value : 1
Index : 1 and Value : 2
Index : 2 and Value : 3.145
Index : 3 and Value : 3
Index : 4 and Value : 4
Index : 5 and Value : (3+5j)
Index : 6 and Value : Py

In [81]:
l1 = [1 , 2 , 3 , 4 , 5]
l2 = [1 , 2 , 5 , 6 , 7]

newList = []
# new_list = new list made out of 'l1' items which are in 'l2'


for i in l1:
    if i in l2:
        newList.append(i)

print(newList)

[1, 2, 5]

In [82]:
l1 = [3,4,5,2,4,7]
l2 = [4,5,6,7,8,9]

new_list = []

for i in l1:
    if i in l2 and i not in new_list:
        new_list.append(i)

print(new_list)

[4, 5, 7]

# Set Function

# 1 .add()

Used to add only 1 Item in set At 'Last Index'

syntax : 

set.add(item)

In [26]:
s1 = {1 , 2, 4, 5 }
s1.add(3)
print(s1)

{1, 2, 3, 4, 5}

In [27]:
s1.add('Python')

In [28]:
s1

{1, 2, 3, 4, 5, 'Python'}

In [29]:
s1 = {'pune' , 'nashik' , 'mumbai' , 'pcmc'}
s1

{'mumbai', 'nashik', 'pcmc', 'pune'}

In [30]:
s1.add('Hyd')

In [95]:
s1

{'Hyd', 'mumbai', 'nashik', 'pcmc', 'pune'}

# 2 .update

Syntax:

set.update()

In [31]:
set1 = {3,4,5,6,7,7}
set2 = {1,2,10,20,20,30}

set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 10, 20, 30}

In [37]:
set1 = {3,4,5,6 , 'Python' ,7, 'idli', 7}
set2 = {1,2,10,20, 'idli', 20,30}

set1.update(set2)
set1

{1, 10, 2, 20, 3, 30, 4, 5, 6, 7, 'Python', 'idli'}

In [38]:
abc = set1.update(set2)
# making 3rd variable is not possible in .update()
print(abc)

None

In [39]:
s1 = {1 , 2 , 3 , 4 , 7}
print("Set 1: " , s1)

s2 = {7 , 3 , 5 , 1 ,9 , 90 , 55}
print("Set 2: " , s2)

s1.update(s2)
print("Updated :" , s1)

Set 1:  {1, 2, 3, 4, 7}
Set 2:  {1, 3, 5, 55, 7, 9, 90}
Updated : {1, 2, 3, 4, 5, 7, 9, 55, 90}

# 3 .union()

In [41]:
set1 = {3,4,5,6 , 'Python' ,7, 'idli', 7}
set2 = {1,2,10,20, 'idli', 20,30}

s3 = s1.update(s2)
# cannot make 3rd variable combining 2 variabls using-------- set_name.upadate(set_name)
print(s3)

None

In [42]:
set1 = {3,4,5,6 , 'Python' ,7, 'idli', 7}
set2 = {1,2,10,20, 'idli', 20,30}

set3 = set1.union(set2)

print(set3)

{1, 2, 3, 4, 5, 6, 7, 'idli', 10, 20, 30, 'Python'}

In [43]:
s1 = {1 , 2 , 3 , 4 , 8 }
s2 = { 1 , 4 ,7 , 9 , 90}

s1.union(s2)

{1, 2, 3, 4, 7, 8, 9, 90}

In [44]:
set1 = {3,4,5,6 , 'Python' ,7, 'idli', 7}
set2 = {1,2,10,20, 'idli', 20,30}
set3 = {1 , 3 , 99 , 67 , 43}

new_set = set1.union(set2 , set3)

print("Set 1 : " , set1)
print("Set 2 : " , set2)

print("New Set : " , new_set)

Set 1 :  {3, 4, 5, 6, 7, 'idli', 'Python'}
Set 2 :  {1, 2, 20, 10, 30, 'idli'}
New Set :  {1, 2, 3, 4, 5, 6, 7, 67, 99, 'idli', 10, 43, 20, 30, 'Python'}

# Delete items from SET

1.-.remove()
2.-.discard()
3.-.pop()  
4.-.clear()

# 1- .remove()

Syntax:

set.remove(item)

In [46]:
set1 = {1 , 3 , 4 , 'Nira' , 6+7j}
print("Before :", set1)

set1.remove('Nira')
print("After : " ,set1)

Before : {1, 3, 4, (6+7j), 'Nira'}
After :  {1, 3, 4, (6+7j)}

In [47]:
set1 = {1 , 3 , 4 , 'Nira' , 6+7j , 'idli' , 3.145}

set1.remove(1 , 'Nira')
# can't change 2 items at same

TypeError: set.remove() takes exactly one argument (2 given)

In [142]:
set1 = {2 , 5 ,7 , 90 , 33}

val = 7
x = 2

if val in set1:
    set1.remove(val)
    print("Item Found and Removed ")

else :
    print("Item not found")

Item Found and Removed

In [50]:
set1 = {1 , 3 , 5 , 90 , 99}
target = 10
print("Before : " , set1)

if target in set1:
    set1.remove(target)
    
    print("Item found and removed")
    print("After : " , set1)

else :
    print("Item not found")

Before :  {1, 3, 99, 5, 90}
Item not found

# 2. -.discard()

Syntax :
set_name.discard(item_name)

In [155]:
set1 = {1 , 7 , 90 , 44 , 4 }

set1.discard(7)

In [52]:
set1 = {1 , 3, 5 , 66 , 8}
x = 1
print("Before :", set1)

if x in set1:
    set1.discard(x)
    print("Item Removed!")
    print(set1)

else:
    print("Not Found")

Before : {1, 66, 3, 5, 8}
Item Removed!
{66, 3, 5, 8}

# 3- .pop()

set_name.pop()

removes random item from set

In [162]:
set1 = {1 , 4 , 6 , 7 , 88}

set1.pop()

1

In [163]:
set1.pop()

4

In [164]:
set1.pop()

6

In [165]:
set1

{7, 88}

In [166]:
set1.pop()

7

In [167]:
set1

{88}

In [168]:
set2 = {'idli' , 'wada' , 'dosa' , 'naan'}

set2.pop(2)
# does not accept index value

TypeError: set.pop() takes no arguments (1 given)

# 4 - .clear()

Syntax :
set_name.clear()

In [172]:
set1 = {'Mum' , 'Pun' , 'Hyd'}
set1

{'Hyd', 'Mum', 'Pun'}

In [174]:
set1.clear()

In [175]:
set1

set()

# Methods Of Set

## Add / update

ADD

In [53]:
set1 = {1 ,2 ,4 , 7 , 90 , 66 , 55}
set1

{1, 2, 4, 7, 55, 66, 90}

In [54]:
set1.add(12)
set1

{1, 2, 4, 7, 12, 55, 66, 90}

Update

In [57]:
set1 = {1 , 56 , 89 , 45 , 100}
set2 = {'Machine' , 'idli' , 'wada'}

(set1.update(set2))

set1

{1, 100, 45, 56, 89, 'Machine', 'idli', 'wada'}

## DELETE

.REMOVE()      - Throws error if not found

In [59]:
set1 = {1 , 56 , 89 , 45 , 100}

set1.remove(56)
set1

{1, 45, 89, 100}

In [61]:
set1 = {1 , 56 , 89 , 45 , 100}

set1.remove(66)
set1

KeyError: 66

.DISCARD()       - No error if item not found

In [60]:
set1 = {1 , 56 , 89 , 45 , 100}

set1.discard(1)

In [63]:
set1 = {1 , 56 , 89 , 45 , 100}

set1.discard(77)
set1

{1, 45, 56, 89, 100}

In [ ]:
.POP()

In [66]:
set1 = {1 , 56 , 89 , 45 , 100}
print(set1)
set1.pop()

{1, 100, 56, 89, 45}

1

In [68]:
set1.clear()
set1

set()

## SET Operations

.UNION      - Comines Set

In [69]:
SET1 = {1 , 56 , 89 , 45 , 100}
set2 = {'idli' , 90 , 435}
a = SET1.union(set2)

print(a)

{1, 435, 100, 90, 56, 89, 'idli', 45}

.intersection() ------ COMMON ITEMS

In [77]:
a = { 3 , 78 , 77 , 23 , 'nira'}
b = {1 , 4 , 8 , 77 , 'nira' , 90}

print(a.intersection(b))

{'nira', 77}

.difference -------- items which are in 1st but not in 2nd

In [79]:
a = { 3 , 78 , 77 , 23 , 'nira'}
b = {1 , 4 , 8 , 77 , 'nira' , 90}

a.difference(b)

{3, 23, 78}

In [80]:
a = { 3 , 78 , 77 , 23 , 'nira'}
b = {1 , 4 , 8 , 77 , 'nira' , 90}

b.difference(a)

{1, 4, 8, 90}

.symmetric_difference()       - Uncommon Items from both set

In [81]:
a = { 3 , 78 , 77 , 23 , 'nira'}
b = {1 , 4 , 8 , 77 , 'nira' , 90}

a.symmetric_difference(b)

{1, 3, 4, 8, 23, 78, 90}

## Update

intersection_update()      -

In [94]:
a = { 3 , 78 , 77 , 23 , 'nira'}
b = {1 , 4 , 8 , 77 , 'nira' , 90}

c = a.intersection_update(b) 
print(c)

None