# Tuple

Tuple is Ordered , immutable data type 
used to store collection of multiple data types 
in single variable.

    1. Immutable
    2. Ordered Datatypes
    3. Duplicates are allowed
    4. Encloed in ()
    5. Comma saperated
    6. Datatypes : int, float, complex,list , tuple, str, dict,series, df .....

In [2]:
a = (0 , 89 , 3 , 1 , 80 , 1 , 30)
type(a)

tuple

In [3]:
len(a)

7

In [4]:
a[3]

1

In [7]:
list = [10 , 3 , 90 , 77]
list[1] = 'Idli'
list

[10, 'Idli', 90, 77]

In [8]:
tup = (1 , 40 , 2 , 55)
tup[2] = 'Idli'

# "TypeError: 'tuple' object does not support item assignment"

TypeError: 'tuple' object does not support item assignment

In [11]:
t1 = (1 , 30 , 77 , 34)

for item in t1:
    print(item)

1
30
77
34

In [15]:
tuple1 = ('MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY')

days_length_6 = []

for day in tuple1:
    if len(day) == 6:
        days_length_6.append(day)
        
days_length_6

['MONDAY', 'FRIDAY', 'SUNDAY']

In [16]:
len(days_length_6)

3

In [17]:
type(days_length_6)

list

# Python Casting

In [2]:
tup1 = (1 , 2 ,3 , 4 ,5,6 ,7)
tup1.append('iid')

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
tuple1 = (2,3,4,5,6,7)

tuple1.append("python")
# 'tuple' object has no attribute 'append'

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
list1 = list(tuple1)
print(type(list1))
list1

<class 'list'>

[2, 3, 4, 5, 6, 7]

In [5]:
list1.append("python")

In [9]:
tup1 = tuple(list1)
tup1

(2, 3, 4, 5, 6, 7)

In [10]:
tup1

(2, 3, 4, 5, 6, 7)

## INdex

Syntax: 
name_tuple.index(Item)

In [2]:
tuple1 = (2, 3, 4, 5, 6, 7)

tuple1.index(2)

0

In [4]:
tup1 = ('Idli' , 'wada' , 'samber' , 'rmd')

tup1.index('wada')

1

In [5]:
tuple1 = (2, 3, 4, 4, 5, 6, 4,4,4)

index_list_4 = [index  for index,value in enumerate(tuple1)   if value == 4]
index_list_4

[2, 3, 6, 7, 8]

In [7]:
tuple1 = (2, 3, 4, 4, 5, 6, 4,4,4)


for index , value in enumerate(tuple1):
    if value == 4 :
        print(index)

2
3
6
7
8

In [8]:
tuple1 = (2, 3, 4, 4, 5, 6, 4,4,4)

for i , v in enumerate(tuple1):
    if v == 4:
        print(i)

2
3
6
7
8

## Count

Syntax : 
    tuple_name.count(element)
## Returns the occurance of one item

In [11]:
tuple1 = (2, 3, 4, 4, 5, 6, 4,4,4)
tuple1.count(4)

5

# Built in Functions

1. sorted
2. reversed
3. max
4. min
5. sum

## 1. sorted

In [12]:
tuple1 = (1 , 8 , 2 , 89 , 4 , 345 , 999)
sorted(tuple1)

[1, 2, 4, 8, 89, 345, 999]

In [19]:
a = sorted(tuple1)
a
# a >>> list

[1, 2, 4, 8, 89, 345, 999]

In [20]:
type(a)

list

In [23]:
a = (1 , 8 , 2 , 89 , 4 , 345 , 999)
b = tuple(sorted(a))
b

(1, 2, 4, 8, 89, 345, 999)

In [24]:
type(b)

tuple

## 2. reversed

In [32]:
a = (1, 2, 4, 8, 89, 345, 999)

reversed(a)

In [34]:
a = (1, 2, 4, 8, 89, 345, 999)

b = tuple(reversed(a))
b

(999, 345, 89, 8, 4, 2, 1)

In [36]:
tuple1 = (999, 345, 89, 8, 4, 2, 1)
a = tuple(reversed(a))
print("Previous Tuple : " , tuple1)
print("Reversed Tuple : " , a)

Previous Tuple :  (999, 345, 89, 8, 4, 2, 1)
Reversed Tuple :  (1, 2, 4, 8, 89, 345, 999)

## 3. max
## 4. min
## 5. sum

In [38]:
tuple1 = (99, 345, 89, 8, 4, 2, 1)
max_tuple1 = max(tuple1)
print("Max : " , max_tuple1)

Max :  345

In [39]:
min_tuple1 = min(tuple1)
print("Min : " , min_tuple1)

Min :  1

In [40]:

marks = (100 , 89 , 90 , 98 , 89)
sum_marks = sum(marks)
print("sum of marks : " , sum_marks)

sum of marks :  466

# Methods Of Tuple

count()
>>>> Returns the number of occurance or element

index()
>>>> Returns the index of element

In [41]:
tuple1 = (99, 345, 89,99,  8, 4, 2, 1)
tuple1.count(99)

2

In [42]:
tuple1 = (99, 345, 89,99,  8, 4, 2, 1)
tuple1.index(8)

4